// own vars
$eccgui-size-typo-tag: $eccgui-size-typo-caption !default;
$eccgui-size-typo-tag-lineheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-size-typo-tag-large: $eccgui-size-typo-text !default;
$eccgui-size-typo-tag-large-lineheight: $eccgui-size-typo-text-lineheight !default;
$eccgui-size-margin-tag: $eccgui-size-inline-whitespace / 2 !default;
$eccgui-color-tag-background-emphasized: $eccgui-color-workspace-text !default;
// lib vars
$tag-default-color: $eccgui-color-tag-background-emphasized; // !default;
// $dark-tag-default-color: $gray5 !default;
$tag-height: $eccgui-size-typo-tag * $eccgui-size-typo-tag-lineheight; // !default;
$tag-line-height: $eccgui-size-typo-tag; // !default;
$tag-padding-top: ($tag-height - $tag-line-height) / 2; // !default;
$tag-padding: $tag-padding-top * 2; // !default;
$tag-margin: 0; // !default;
$tag-height-large: $eccgui-size-typo-tag-large * $eccgui-size-typo-tag-large-lineheight; // !default;
$tag-line-height-large: $eccgui-size-typo-tag-large; // !default;
$tag-padding-large: ($tag-height-large - $tag-line-height-large); // !default;
// $tag-icon-spacing: ($tag-height - 12px) / 2 !default;
// $tag-icon-spacing-large: ($tag-height-large - $pt-icon-size-standard) / 2 !default;
// $tag-round-adjustment: 2px !default;

@import "~@blueprintjs/core/src/components/tag/tag";

.#{$eccgui}-tag__item {
    flex-shrink: 0;
    flex-grow: 0;

    .#{$eccgui}-overviewitem__description & {
        max-width: 39%;
    }
}

.#{$eccgui}-tag__list-wrapper,
.#{$eccgui}-tag__list-label,
.#{$eccgui}-tag__list-content,
.#{$eccgui}-tag__list,
.#{$eccgui}-tag__list-item {
    display: inline;
    vertical-align: baseline;
    font-size: $eccgui-size-typo-tag;
    line-height: $eccgui-size-typo-tag-lineheight;
    font-weight: $eccgui-font-weight-light;
}

.#{$eccgui}-tag__list-label {
    white-space: nowrap;
}

.#{$eccgui}-tag__list-wrapper:not(:last-child),
.#{$eccgui}-tag__list:not(:last-child) {
    margin-right: $eccgui-size-margin-tag * 2;
}

.#{$eccgui}-tag__list-item {
    margin-bottom: $eccgui-size-margin-tag;
    display: inline-block;
}

.#{$eccgui}-tag__list-label,
.#{$eccgui}-tag__list-item:not(:last-child) {
    margin-right: $eccgui-size-margin-tag;
}

.#{$ns}-tag-remove {
    .#{$ns}-icon,
    svg {
        height: $eccgui-size-typo-tag;
        width: $eccgui-size-typo-tag;
    }
}

.#{$ns}-tag {
    border-width: 1px;
    border-style: solid;
    border-color: rgba($tag-default-color, 0.75);
    background-color: rgba($tag-default-color, 0.75);

    &:not([class*="#{$ns}-intent-"]) {
        &.#{$eccgui}-tag--strongeremphasis {
            border-color: rgba($tag-default-color, 1);
            background-color: rgba($tag-default-color, 1);
        }
        &.#{$eccgui}-tag--strongemphasis {
            border-color: rgba($tag-default-color, 0.875);
            background-color: rgba($tag-default-color, 0.875);
        }
        &.#{$eccgui}-tag--weakemphasis {
            border-color: rgba($tag-default-color, 0.625);
            background-color: rgba($tag-default-color, 0.625);
        }
        &.#{$eccgui}-tag--weakeremphasis {
            border-color: rgba($tag-default-color, 0.5);
            background-color: rgba($tag-default-color, 0.5);
        }
    }

    &.#{$ns}-minimal:not([class*="#{$ns}-intent-"]) {
        border-color: rgba($tag-default-color, 0.15);
        background-color: rgba($tag-default-color, 0.15);

        &.#{$eccgui}-tag--strongeremphasis {
            border-color: rgba($tag-default-color, 0.3);
            background-color: rgba($tag-default-color, 0.3);
        }
        &.#{$eccgui}-tag--strongemphasis {
            border-color: rgba($tag-default-color, 0.225);
            background-color: rgba($tag-default-color, 0.225);
        }
        &.#{$eccgui}-tag--weakemphasis {
            border-color: rgba($tag-default-color, 0.075);
            background-color: rgba($tag-default-color, 0.075);
        }
        &.#{$eccgui}-tag--weakeremphasis {
            border-color: rgba($tag-default-color, 0.15);
            background-color: rgba($tag-default-color, 0);
        }
    }
}
