@use "sass:math";

.#{$eccgui}-propertyvalue__list {
    display: block;
}

.#{$eccgui}-propertyvalue__pair {
    display: block;
    clear: both;

    &.#{$eccgui}-propertyvalue__pair--hasdivider {
        &:not(:last-child) {
            border-bottom: solid 1px $pt-divider-black;
        }
    }
    &.#{$eccgui}-propertyvalue__pair--hasspacing {
        &:not(:last-child) {
            padding-bottom: $eccgui-size-block-whitespace * 0.5;
            margin-bottom: $eccgui-size-block-whitespace * 0.5;
        }
        .#{$eccgui}-propertyvalue__pair + & {
            margin-top: $eccgui-size-block-whitespace * 0.5;
        }
    }

    .#{$eccgui}-label {
        color: inherit;
    }
}

.#{$eccgui}-propertyvalue__property,
.#{$eccgui}-propertyvalue__value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $eccgui-size-textfield-height-regular;
}

.#{$eccgui}-propertyvalue__property {
    float: left;
    width: math.div(3, 16) * 100%;
    overflow: hidden;

    & > div {
        margin-right: $eccgui-size-block-whitespace;
    }
}

.#{$eccgui}-propertyvalue__value {
    margin-left: math.div(3, 16) * 100%;
    box-sizing: content-box;

    &:not(:last-child) {
        .#{$eccgui}-propertyvalue__pair--hasdivider > & {
            border-bottom: solid 1px $pt-divider-black;
        }
        .#{$eccgui}-propertyvalue__pair--hasspacing > & {
            padding-bottom: $eccgui-size-block-whitespace * 0.5;
            margin-bottom: $eccgui-size-block-whitespace * 0.5;
        }
    }
}
