// TODO: add vars and process them

@import "~@blueprintjs/core/src/components/toast/toast";

.#{$eccgui}-notification {
    border-style: solid;
    border-width: 1px 1px 1px 0.25rem;
    font-size: 1rem;
    line-height: $eccgui-size-typo-base-lineheight;
    min-width: 4/16 * 100vw;
    width: 100%;
    max-width: 40rem;
    margin-top: $eccgui-size-block-whitespace;

    & > .#{$eccgui}-icon {
        color: inherit;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &.#{$eccgui}-notification--static > .#{$ns}-button-group {
        :last-child {
            display: none;
        }
    }

    &:not(.#{$eccgui}-notification--toast) {
        max-width: none;
        box-shadow: none;
        margin-top: 0;
    }

    &.#{$eccgui}-intent--info {
        border-color: $eccgui-color-info-text;
        color: $eccgui-color-info-text;
        background-color: $eccgui-color-info-background;
    }
    &.#{$eccgui}-intent--success {
        border-color: $eccgui-color-success-text;
        color: $eccgui-color-success-text;
        background-color: $eccgui-color-success-background;
    }
    &.#{$eccgui}-intent--warning {
        border-color: $eccgui-color-warning-text;
        color: $eccgui-color-warning-text;
        background-color: $eccgui-color-warning-background;
    }
    &.#{$eccgui}-intent--danger {
        border-color: $eccgui-color-danger-text;
        color: $eccgui-color-danger-text;
        background-color: $eccgui-color-danger-background;
    }
}

.#{$eccgui}-notification__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: -10px; // TODO: use blueprint var ofr toast padding here
}

.#{$eccgui}-notification__messagebody {
    padding: 10px; // TODO: use blueprint var ofr toast padding here
    flex-grow: 1;
    flex-shrink: 1;
}

.#{$eccgui}-notification__actions {
    flex-grow: 0;
    flex-shrink: 0;

    .#{$ns}-button {
        color: inherit;
    }
}
