$eccgui-color-overviewitem-divider: $ui-03 !default;
$eccgui-size-overviewitem-spacing: $eccgui-size-typo-base/2 !default;

$eccgui-color-overviewitem-depiction-background: $eccgui-color-workspace-text !default;
$eccgui-color-overviewitem-depiction-text: $eccgui-color-workspace-background !default;
$eccgui-size-overviewitem-depiction-border-radius: $pt-border-radius !default;

$eccgui-size-overviewitem-line-typo-small: $eccgui-size-typo-caption !default;
$eccgui-size-overviewitem-line-typo-small-linheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-size-overviewitem-line-typo-large: $eccgui-size-typo-subtitle !default;
$eccgui-size-overviewitem-line-typo-large-lineheight: $eccgui-size-typo-subtitle-lineheight !default;

.#{$eccgui}-overviewitem__list--hascolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    & > li {
        width: 1/2 * 100%;
    }

    &.#{$eccgui}-overviewitem__list--hasspacing {
        margin-left: -1 * $eccgui-size-overviewitem-spacing/2;
        margin-right: -1 * $eccgui-size-overviewitem-spacing/2;

        & > li {
            box-sizing: border-box;
            padding: $eccgui-size-overviewitem-spacing/2;
        }
    }
}

.#{$eccgui}-overviewitem__list--hasdivider > li:not(:last-child) {
    border-bottom: 1px solid $eccgui-color-overviewitem-divider;
}

.#{$eccgui}-overviewitem__list--hasspacing:not(.#{$eccgui}-overviewitem__list--hascolumns) > li:not(:first-child) {
    padding-top: $eccgui-size-overviewitem-spacing/2;
}
.#{$eccgui}-overviewitem__list--hasspacing:not(.#{$eccgui}-overviewitem__list--hascolumns) > li:not(:last-child) {
    padding-bottom: $eccgui-size-overviewitem-spacing/2;
}

.#{$eccgui}-overviewitem__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: mini-units(6);

    &.#{$eccgui}-overviewitem__item--highdensity,
    .#{$eccgui}-overviewitem__list--highdensity > li > & {
        height: mini-units(4);
    }

    &.#{$eccgui}-overviewitem__item--hasspacing {
        box-sizing: content-box;
        padding: $eccgui-size-overviewitem-spacing/2;
    }

    &[tabindex]:not([tabindex="-1"]) {
        cursor: pointer;
    }
}

.#{$eccgui}-overviewitem__depiction {
    flex-grow: 0;
    flex-shrink: 0;
    width: mini-units(6);
    height: mini-units(6);
    background-color: $eccgui-color-overviewitem-depiction-background;
    color: $eccgui-color-overviewitem-depiction-text;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: $eccgui-size-overviewitem-depiction-border-radius;

    & > * {
        width: auto;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    svg {
        fill: $eccgui-color-overviewitem-depiction-text;
    }

    .#{$eccgui}-overviewitem__list--highdensity > .#{$eccgui}-overviewitem__item > &,
    .#{$eccgui}-overviewitem__item--highdensity > & {
        width: mini-units(4);
        height: mini-units(4);
    }

}

.#{$eccgui}-overviewitem__description {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;

    .#{$eccgui}-overviewitem__depiction + & {
        margin-left: mini-units(1);
    }
}

.#{$eccgui}-overviewitem__line {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;

    & > * {
        display: inline-block;
        font-size: inherit;
    }
}

.#{$eccgui}-overviewitem__line--small {
    font-size: $eccgui-size-overviewitem-line-typo-small;
    line-height: $eccgui-size-overviewitem-line-typo-small-linheight
}

.#{$eccgui}-overviewitem__line--large {
    font-size: $eccgui-size-overviewitem-line-typo-large;
    line-height: $eccgui-size-overviewitem-line-typo-large-lineheight;
}

.#{$eccgui}-overviewitem__actions {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    .#{$eccgui}-overviewitem__description + & {
        margin-left: mini-units(1);
    }
}
