.react-flow__node {
    &.selected:before {
        content: " ";
        position: absolute;
        top: -6 * $reactflow-node-border-width;
        right: -6 * $reactflow-node-border-width;
        bottom: -6 * $reactflow-node-border-width;
        left: -6 * $reactflow-node-border-width;
        border-width: 1px;
        border-color: $reactflow-edge-stroke-color-selected;
        border-radius: $reactflow-node-border-radius;
        border-style: dotted;
        background-color: rgba($reactflow-edge-stroke-color-selected, 0.05);
        z-index: 0;
    }

    &.react-flow__node-default {
        // remove default styles
        background-color: unset !important;
        color: unset !important;
        border: unset !important;
        height: unset !important;
        width: unset !important;
        text-align: unset !important;
        padding: unset !important;

        &.selected, &.selected:hover {
            box-shadow: none;
        }
    }
}

.#{$eccgui}-graphviz__node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    z-index: 1;

    font-size: $reactflow-node-font-size;
    color: $reactflow-node-color;
    background-color: $reactflow-node-background-color;
    border-width: $reactflow-node-border-width;
    border-color: $reactflow-node-border-color;
    border-radius: $reactflow-node-border-radius;
    border-style: solid;

    &:hover {
        box-shadow: 0 0 0 6 * $reactflow-node-border-width rgba($reactflow-edge-stroke-color-selected, 0.05);
    }
}

.#{$eccgui}-graphviz__node--animated {
    animation: pumpingshadow 4 * $reactflow-transition-time linear infinite;
}

@keyframes pumpingshadow {
  0% {
    box-shadow: 0 0 2 * $reactflow-node-border-width 0 rgba(#fff, 0.9), 0 0 1 * $reactflow-node-border-width 0 rgba($reactflow-edge-stroke-color-selected, 0);
  }
  50% {
    box-shadow: 0 0 2 * $reactflow-node-border-width 6 * $reactflow-node-border-width rgba(#fff, 0.9), 0 0 1 * $reactflow-node-border-width 6 * $reactflow-node-border-width $reactflow-edge-stroke-color-selected;
  }
  100% {
    box-shadow: 0 0 2 * $reactflow-node-border-width 0 rgba(#fff, 0.9), 0 0 1 * $reactflow-node-border-width 0 rgba($reactflow-edge-stroke-color-selected, 0);
  }
}

.#{$eccgui}-graphviz__node--minimal-rectangular,
.#{$eccgui}-graphviz__node--minimal-circular {

    /* FIXME: does not work correctly with tooltips around
    transition: width $reactflow-transition-time $reactflow-transition-function,
        max-height $reactflow-transition-time $reactflow-transition-function,
        border-radius $reactflow-transition-time $reactflow-transition-function;
    */

    .react-flow__node:not(.selected) /*:not(:hover)*/ & {
        width: $reactflow-node-basesize;
        max-height: $reactflow-node-basesize;
        z-index: 3;

        .#{$eccgui}-graphviz__node__header-depiction + .#{$eccgui}-graphviz__node__header-label,
        .#{$eccgui}-graphviz__node__header-menu,
        .#{$eccgui}-graphviz__node__content,
        .#{$eccgui}-graphviz__node__extension,
        .#{$eccgui}-graphviz__node__footer {
            display: none;
        }

        .#{$eccgui}-graphviz__node__header-depiction {
            max-height: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
            max-width: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
        }
    }
}

.#{$eccgui}-graphviz__node--minimal-circular {
    .react-flow__node:not(.selected) /*:not(:hover)*/ & {
        border-radius: 100%;

        .#{$eccgui}-graphviz__node__header-depiction {
            border-radius: 100%;
        }
    }
}

.#{$eccgui}-graphviz__node__header {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $reactflow-node-basesize;

    .#{$ns}-button:not([class*="#{$ns}-intent-"]) {
        color: currentColor;
    }
}

.#{$eccgui}-graphviz__node__header-depiction,
.#{$eccgui}-graphviz__node__header-menu {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
}

.#{$eccgui}-graphviz__node__header-label {
    margin: 0 $eccgui-size-block-whitespace * 0.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    text-align: left;
}

.#{$eccgui}-graphviz__node__header-depiction {
    border-radius: $reactflow-node-border-radius;
    /* TODO: does not work correctly with tooltips around
    transition: border-radius $reactflow-transition-time $reactflow-transition-function;
    */
    min-width: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
    min-height: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
    max-width: calc(2 * (#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width}));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: calc(2 * (#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width}));
        max-height: calc(#{$reactflow-node-basesize} - #{2 * $reactflow-node-border-width});
        height: auto;
        width: auto;
        display: inline-block;
        pointer-events: none;
    }
}

.#{$eccgui}-graphviz__node__content {
    padding: $eccgui-size-block-whitespace * 0.5 $eccgui-size-block-whitespace * 0.25;
    overflow: hidden;
    background-color: $card-background-color;
    color: $eccgui-color-workspace-text;
    margin: 0.1px; // workaround that Firefox displays node borders better when canvas is scaled down
    flex-grow: 1;

    &:hover {
        overflow: auto;
    }
}

.#{$eccgui}-graphviz__node__footer {
    padding: $eccgui-size-block-whitespace* 0.5 $eccgui-size-block-whitespace* 0.25;
    font-size: $reactflow-node-font-size;
    color: $reactflow-node-color;
    background-color: $reactflow-node-background-color;
}

// Node sizes

.#{$eccgui}-graphviz__node__resizer,
.#{$eccgui}-graphviz__node.is-resizeable {
    min-height: 2.5 * $reactflow-node-basesize;
    min-width: 2.5 * $reactflow-node-basesize;
}

.#{$eccgui}-graphviz__node__resizer {
    .selected &,
    &:hover {
        .#{$eccgui}-graphviz__node__resizer--cursorhandles {
            & > div {
                overflow: auto;
                resize: both;
            }
        }
    }
}

.#{$eccgui}-graphviz__node--tiny:not(.is-resizeable) {
    width: $reactflow-node-basesize * 4;
    min-height: $reactflow-node-basesize;
    max-height: $reactflow-node-basesize * 4;
}

.#{$eccgui}-graphviz__node--small:not(.is-resizeable) {
    width: $reactflow-node-basesize * 5;
    min-height: $reactflow-node-basesize;
    max-height: $reactflow-node-basesize * 8;
}

.#{$eccgui}-graphviz__node--medium:not(.is-resizeable) {
    width: $reactflow-node-basesize * 8;
    min-height: $reactflow-node-basesize;
    max-height: $reactflow-node-basesize * 13;
}

.#{$eccgui}-graphviz__node--large:not(.is-resizeable) {
    width: $reactflow-node-basesize * 13;
    min-height: $reactflow-node-basesize;
    max-height: $reactflow-node-basesize * 13;
}

// Node highlights

.#{$eccgui}-graphviz__node--highlight-success,
.#{$eccgui}-graphviz__node--highlight-warning,
.#{$eccgui}-graphviz__node--highlight-danger {
    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: -2 * $reactflow-node-border-width;
        left: -2 * $reactflow-node-border-width;
        bottom: -2 * $reactflow-node-border-width;
        right: -2 * $reactflow-node-border-width;
        border-radius: inherit;
        box-shadow: 0 0 0 2 * $reactflow-node-border-width $eccgui-color-danger-text;
        z-index: -1;
    }
}

.#{$eccgui}-graphviz__node--highlight-match,
.#{$eccgui}-graphviz__node--highlight-altmatch {
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: -2 * $reactflow-node-border-width;
        left: -2 * $reactflow-node-border-width;
        bottom: -2 * $reactflow-node-border-width;
        right: -2 * $reactflow-node-border-width;
        border-radius: inherit;
        box-shadow: 0 0 0 2 * $reactflow-node-border-width $eccgui-color-accent;
        z-index: -1;
    }

    &.#{$eccgui}-graphviz__node--highlight-success,
    &.#{$eccgui}-graphviz__node--highlight-warning,
    &.#{$eccgui}-graphviz__node--highlight-danger {
        &:after {
            top: -4 * $reactflow-node-border-width;
            left: -4 * $reactflow-node-border-width;
            bottom: -4 * $reactflow-node-border-width;
            right: -4 * $reactflow-node-border-width;
        }
    }
}

.#{$eccgui}-graphviz__node--highlight-success {
    &:before {
        box-shadow: 0 0 0 2 * $reactflow-node-border-width $eccgui-color-success-text;
    }
}

.#{$eccgui}-graphviz__node--highlight-warning {
    &:before {
        box-shadow: 0 0 0 2 * $reactflow-node-border-width $eccgui-color-warning-text;
    }
}

.#{$eccgui}-graphviz__node--highlight-altmatch {
    &:after {
        box-shadow: 0 0 0 2 * $reactflow-node-border-width complement($eccgui-color-primary);
    }
}

// Node tools

.#{$eccgui}-graphviz__nodetools__content {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
}

// Node content extension

.#{$eccgui}-graphviz__node__extension {
    background-color: $reactflow-node-background-color;
    min-height: $eccgui-size-block-whitespace* 0.5;
    flex-grow: 1;
    flex-shrink: 1;

    .#{$eccgui}-graphviz__node--tiny & {
        max-height: $reactflow-node-basesize * 3;
    }

    .#{$eccgui}-graphviz__node--small & {
        max-height: $reactflow-node-basesize * 5;
    }

    .#{$eccgui}-graphviz__node--medium & {
        max-height: $reactflow-node-basesize * 8;
    }

    .#{$eccgui}-graphviz__node--large & {
        max-height: $reactflow-node-basesize * 13;
    }
}

.#{$eccgui}-graphviz__node__extension--slideout {
    order: 4;
}

.#{$eccgui}-graphviz__node__extension--expanded {
    display: flex;
    flex-direction: column;
    // separation between node content and extension
    // do not inherit styles here
    border-top-color: $eccgui-color-separation-divider !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    &.#{$eccgui}-graphviz__node__extension--slideout {
        position: absolute;
        top: 100%;
        left: -1 * $reactflow-node-border-width;
        right: -1 * $reactflow-node-border-width;
        border-width: $reactflow-node-border-width;
        border-color: $reactflow-node-border-color;
        border-radius: $reactflow-node-border-radius;
        border-style: solid;
    }

    &:not(.#{$eccgui}-graphviz__node__extension--slideout) + .#{$eccgui}-graphviz__node__footer {
        border-top: 1px solid $eccgui-color-separation-divider;
    }
}

.#{$eccgui}-graphviz__node__extension-expandbutton {
    display: flex;
    min-height: 0;
    max-height: $eccgui-size-block-whitespace* 0.5;
    width: 100%;
}

.#{$eccgui}-graphviz__node__extension-body {
    padding: $eccgui-size-block-whitespace* 0.5 $eccgui-size-block-whitespace* 0.25;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: auto;
    overflow: auto;

    .#{$eccgui}-tag__item {
        max-width: 20%;

        &:first-child {
            max-width: 75%;
        }

        &:last-child {
            max-width: 100%
        }
    }
}

.#{$eccgui}-graphviz__node__extension-actions {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}
