.react-flow__node-stickynote {
    .#{$eccgui}-graphviz__node {
        &:not(.#{$eccgui}-graphviz__node--minimal-rectangular),
        &:not(.#{$eccgui}-graphviz__node--minimal-circular) {
            .#{$eccgui}-graphviz__node__header {
                position: absolute;
                top: 0;
                align-items: flex-start;
                width: 100%;
                height: 0;
                min-height: unset;
                color: currentcolor;
            }
            .#{$eccgui}-graphviz__node__header-label {
                visibility: hidden;
            }
            .#{$eccgui}-graphviz__node__content {
                padding: $eccgui-size-block-whitespace * 0.5;
                color: currentcolor;
                background: transparent;
            }
        }
    }
    .#{$eccgui}-graphviz__node__header-menu {
        display: none;
    }

    &.selected,
    &:hover {
        .#{$eccgui}-graphviz__node__header-menu {
            display: block;
            opacity: $eccgui-opacity-muted;
        }
    }

    &.selected {
        .#{$eccgui}-graphviz__node__header-menu {
            opacity: $eccgui-opacity-regular;
        }
    }
    .#{$eccgui}-typography__contentblock {
        h1 {
            font-size: $eccgui-size-typo-subtitle;
            font-weight: $eccgui-font-weight-bold;
            line-height: $eccgui-size-typo-subtitle-lineheight;
        }

        h2 {
            font-size: $eccgui-size-typo-subtitle;
            font-weight: $eccgui-font-weight-regular;
            line-height: $eccgui-size-typo-subtitle-lineheight;
        }

        h3 {
            font-size: $eccgui-size-typo-text;
            font-weight: $eccgui-font-weight-bold;
            line-height: $eccgui-size-typo-text-lineheight;
        }

        h4 {
            font-size: $eccgui-size-typo-text;
            font-weight: $eccgui-font-weight-regular;
            line-height: $eccgui-size-typo-text-lineheight;
        }
    }
}

.#{eccgui}-configuration--colors__stickynotes {
    --yellowish: #ffd54f;
    --blueish: #3a7896;
    --purplish: #ae3c74;
    --success: #{$eccgui-color-success-text};
    --warning: #{$eccgui-color-warning-text};
    --danger: #{$eccgui-color-danger-text};
}
