$eccgui-size-typo-formitem: $eccgui-size-typo-caption !default;
$eccgui-size-typo-formitem-lineheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-color-formitem-text: rgba($eccgui-color-workspace-text, $eccgui-opacity-narrow);

@import "~@blueprintjs/core/src/components/forms/common";

@import "~@blueprintjs/core/src/components/forms/control-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/controls"; // Checkbox, Radio, Switch
@import "~@blueprintjs/core/src/components/forms/file-input";
@import "~@blueprintjs/core/src/components/forms/form-group";
// already used in own component @import "~@blueprintjs/core/src/components/forms/input-group"; // TextField
// already used in own component @import "~@blueprintjs/core/src/components/forms/input"; // TextField
@import "~@blueprintjs/core/src/components/forms/label";
@import "~@blueprintjs/core/src/components/forms/numeric-input";

form {
    display: block;
}

.#{$eccgui}-fielditem,
.#{$eccgui}-fieldset {
    display: block;
    max-width: 100%;
    min-width: 0;

    &:not(:last-child) {
        margin-bottom: $eccgui-size-block-whitespace;
    }
}

.#{$eccgui}-fielditem__helpertext,
.#{$eccgui}-fielditem__message,
.#{$eccgui}-fieldset__helpertext,
.#{$eccgui}-fieldset__message {
    display: block;
    font-size: $eccgui-size-typo-formitem;
    line-height: $eccgui-size-typo-formitem-lineheight;
    color: $eccgui-color-formitem-text;

    .#{$eccgui}-fielditem--disabled > & {
        color: rgba($eccgui-color-formitem-text, 1) !important;
        opacity: $eccgui-opacity-disabled !important;
    }
}

.#{$eccgui}-fielditem__inputfields {
    &:not(:first-child) {
        margin-top: $eccgui-size-block-whitespace / 4;
    }
    &:not(:last-child) {
        margin-bottom: $eccgui-size-block-whitespace / 4;
    }
}

.#{$eccgui}-fielditem__message {
    &.#{$eccgui}-intent--primary {
        color: $eccgui-color-accent;
    }
    &.#{$eccgui}-intent--success {
        color: $eccgui-color-success-text;
    }
    &.#{$eccgui}-intent--warning {
        color: $eccgui-color-warning-text;
    }
    &.#{$eccgui}-intent--danger {
        color: $eccgui-color-danger-text;
    }
}

.#{$eccgui}-fieldset {
    legend {
        width: 100%;
        color: $eccgui-color-applicationheader-text;
        display: block;
        float: left;
    }

    &.#{$eccgui}-fieldset--boxed {
        padding: $eccgui-size-block-whitespace/2 $eccgui-size-block-whitespace $eccgui-size-block-whitespace
            $eccgui-size-block-whitespace;
        background-color: $data-table-zebra-color;

        legend {
            float: left;
        }
    }

    &.#{$eccgui}-intent--primary {
        &.#{$eccgui}-fieldset--boxed {
            background-color: $eccgui-color-info-background;
        }
        .#{$eccgui}-fieldset__message,
        legend {
            color: $eccgui-color-info-text;
        }
    }
    &.#{$eccgui}-intent--success {
        &.#{$eccgui}-fieldset--boxed {
            background-color: $eccgui-color-success-background;
        }
        .#{$eccgui}-fieldset__message,
        legend {
            color: $eccgui-color-success-text;
        }
    }
    &.#{$eccgui}-intent--warning {
        &.#{$eccgui}-fieldset--boxed {
            background-color: $eccgui-color-warning-background;
        }
        .#{$eccgui}-fieldset__message,
        legend {
            color: $eccgui-color-warning-text;
        }
    }
    &.#{$eccgui}-intent--danger {
        &.#{$eccgui}-fieldset--boxed {
            background-color: $eccgui-color-danger-background;
        }
        .#{$eccgui}-fieldset__message,
        legend {
            color: $eccgui-color-danger-text;
        }
    }
}

.#{$eccgui}-fieldset__helpertext,
.#{$eccgui}-fieldset__message {
    margin-top: $eccgui-size-block-whitespace / 4;
}

.#{$eccgui}-fieldset__fielditems {
    &:not(:first-child) {
        &:before {
            content: " ";
            height: $eccgui-size-block-whitespace;
            display: block;
            clear: both;
        }
    }
}

.#{$eccgui}-fielditem__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 -1 * $eccgui-size-block-whitespace/2;

    & > .#{$eccgui}-fielditem {
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 $eccgui-size-block-whitespace/2;
    }

    &:not(:last-child) {
        margin-bottom: $eccgui-size-block-whitespace;
    }
}
