@use "sass:map";

// own vars
$eccgui-size-grid-gutter: $eccgui-size-block-whitespace !default;

// overwrite lib vars
$grid-gutter: rem($eccgui-size-grid-gutter);

// load grid
@import "~@carbon/styles/scss/grid/flexbox";

// adjustments

.#{$prefix}--grid {
    padding-right: 0;
    padding-left: 0;
}

.#{$prefix}--grid--full-width {
    width: 100%;
    max-width: 100%;
}

.#{$eccgui}-grid--stretchable {
    display: flex;
    flex-direction: column;
    width: auto;

    & > .#{$prefix}--row {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.#{$eccgui}-grid--absolutespace {
    position: absolute;
    inset: 0 0.5 * $eccgui-size-grid-gutter 0 0.5 * $eccgui-size-grid-gutter;
}

.#{$prefix}--row {
    flex-wrap: wrap;
    margin-right: -0.5 * $eccgui-size-grid-gutter;
    margin-left: -0.5 * $eccgui-size-grid-gutter;
}

.#{$eccgui}-grid__row--fullheight {
    min-height: calc(100vh - #{2 * $eccgui-size-block-whitespace});

    .#{$prefix}--header ~ .#{$prefix}--content & {
        min-height: calc(100vh - #{mini-units(8)} - #{2 * $eccgui-size-block-whitespace});
    }
}

.#{$eccgui}-grid__row--stretched {
    .#{$eccgui}-grid--stretchable > & {
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
    }
}

.#{$prefix}--col {
    /*
        We need to explicitely remove a minimum width from flex layout columns,
        otherwise they try to grow (if allowed) until every text can be shown
        without overflowing, even if text is styled to be hidden overflowed.

        @see https://css-tricks.com/flexbox-truncated-text/
    */
    min-width: 0;
    padding-right: 0.5 * $eccgui-size-grid-gutter;
    padding-left: 0.5 * $eccgui-size-grid-gutter;
}

.#{$eccgui}-grid__column {
    position: relative;
}

.#{$eccgui}-grid__column--vertical-center {
    align-self: center;
}

.#{$eccgui}-grid__row--dontwrapcolumns {
    @media (width >= 42rem) {
        // Carbon breakpoint for medium viewports
        flex-wrap: nowrap;
    }
}
