/*
$tab-color-selected: $pt-link-color !default;
$dark-tab-color-selected: $pt-dark-link-color !default;
$tab-indicator-width: 3px !default;
*/

@import "~@blueprintjs/core/src/components/tabs/tabs";

// our changes

/**
    TODO: Must be adjusted if we need support for vertical tabs.
*/

.#{$ns}-tab-list {
    border-bottom: solid 1px $pt-divider-black;
    max-width: 100%;
    overflow: auto;
    column-gap: $eccgui-size-block-whitespace * 0.25;

    & > *:not(:last-child) {
        margin-right: 0;
    }
}

.#{$ns}-tab {
    outline: none;
    max-width: 50%;

    .#{$ns}-tabs:not(.#{$eccgui}-tabs--scrollablelist) > .#{$ns}-tab-list > & {
        flex-shrink: 1;
        max-width: 33%;
    }

    & > .#{$ns}-button, // normal button
    & > span > span > .#{$ns}-button { // button with tooltip
        outline: none;
        margin-bottom: $tab-indicator-width;
        max-width: 15rem;
        width: 100%;
        color: inherit;
        border-radius: 0;

        .#{$ns}-button-text {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            //min-width: 6em;
        }

        &::before, & > *:not(:last-child) {
            margin-right: $eccgui-size-block-whitespace * 0.25;
        }
    }

    &:focus,
    &:hover {
        & > .#{$ns}-button,
        & > span > span > span > .#{$ns}-button {
            background: $minimal-button-background-color-hover;
            color: inherit;
        }
    }
}

.#{$ns}-tab-indicator-wrapper {
    //top: $tab-indicator-width;
}

.#{$ns}-tab-panel {
    margin-top: $eccgui-size-block-whitespace;
}
