$reactflow-color-graph-node: #745a85 !default;
$reactflow-color-class-node: #3a7896 !default;
$reactflow-color-instance-node: #0097a7 !default;
$reactflow-color-property-node: #ffd54f !default;

$reactflow-color-implicit-edge: #ae3c74 !default;
$reactflow-color-import-edge: $reactflow-color-graph-node !default;
$reactflow-color-subclass-edge: $reactflow-color-class-node !default;
$reactflow-color-subproperty-edge: $reactflow-color-property-node !default;
$reactflow-color-rdftype-edge: $reactflow-color-instance-node !default;

@function bright($color) {
    @return mix($color, #fff, 24%);
}

.#{eccgui}-configuration--colors__react-flow-graph {
    --graphNode: #{$reactflow-color-graph-node};
    --classNode: #{$reactflow-color-class-node};
    --instanceNode: #{$reactflow-color-instance-node};
    --propertyNode: #{$reactflow-color-property-node};
    --implicitEdge: #{$reactflow-color-implicit-edge};
    --importEdge: #{$reactflow-color-import-edge};
    --subclassEdge: #{$reactflow-color-subclass-edge};
    --subpropertyEdge: #{$reactflow-color-subproperty-edge};
    --rdftypeEdge: #{$reactflow-color-rdftype-edge};
    --graphNodeBright: #{bright($reactflow-color-graph-node)};
    --classNodeBright: #{bright($reactflow-color-class-node)};
    --instanceNodeBright: #{bright($reactflow-color-instance-node)};
    --propertyNodeBright: #{bright($reactflow-color-property-node)};
    --implicitEdgeBright: #{bright($reactflow-color-implicit-edge)};
    --importEdgeBright: #{bright($reactflow-color-import-edge)};
    --subclassEdgeBright: #{bright($reactflow-color-subclass-edge)};
    --subpropertyEdgeBright: #{bright($reactflow-color-subproperty-edge)};
    --rdftypeEdgeBright: #{bright($reactflow-color-rdftype-edge)};
}
