$reactflow-color-graph-node: #745a85 !default;
$reactflow-color-class-node: #3a7896 !default;
$reactflow-color-instance-node: #0097a7 !default;
$reactflow-color-property-node: #ffd54f !default;

$reactflow-color-implicit-edge: #ae3c74 !default;
$reactflow-color-import-edge: $reactflow-color-graph-node !default;
$reactflow-color-subclass-edge: $reactflow-color-class-node !default;
$reactflow-color-subproperty-edge: $reactflow-color-property-node !default;
$reactflow-color-rdftype-edge: $reactflow-color-instance-node !default;

:export {
    graphNode: $reactflow-color-graph-node;
    classNode: $reactflow-color-class-node;
    instanceNode: $reactflow-color-instance-node;
    propertyNode: $reactflow-color-property-node;
    implicitEdge: $reactflow-color-implicit-edge;
    importEdge: $reactflow-color-import-edge;
    subclassEdge: $reactflow-color-subclass-edge;
    subpropertyEdge: $reactflow-color-subproperty-edge;
    rdftypeEdge: $reactflow-color-rdftype-edge;
}
