$reactflow-color-sourcepath-node: #745a85 !default;
$reactflow-color-targetpath-node: #3a7896 !default;
$reactflow-color-transformation-node: #ae3c74 !default;
$reactflow-color-comparator-node: #40a691 !default;
$reactflow-color-aggregator-node: #0097a7 !default;

$reactflow-color-value-edge: #222 !default;
$reactflow-color-score-edge: $reactflow-color-aggregator-node !default;

@function bright($color) {
    @return mix($color, #fff, 24%);
}

:export {
    sourcepathNode: $reactflow-color-sourcepath-node;
    targetpathNode: $reactflow-color-targetpath-node;
    transformationNode: $reactflow-color-transformation-node;
    comparatorNode: $reactflow-color-comparator-node;
    aggregatorNode: $reactflow-color-aggregator-node;
    valueEdge: $reactflow-color-value-edge;
    scoreEdge: $reactflow-color-score-edge;
    sourcepathNodeBright: bright($reactflow-color-sourcepath-node);
    targetpathNodeBright: bright($reactflow-color-targetpath-node);
    transformationNodeBright: bright($reactflow-color-transformation-node);
    comparatorNodeBright: bright($reactflow-color-comparator-node);
    aggregatorNodeBright: bright($reactflow-color-aggregator-node);
    valueEdgeBright: bright($reactflow-color-value-edge);
    scoreEdgeBright: bright($reactflow-color-score-edge);
}
