.react-flow__edge-implicit {
    stroke: #00acc1;
    color: #00acc1;
}

.react-flow__edge-import {
    stroke: #8e24aa;
    color: #8e24aa;
}

.react-flow__edge-subclass {
    stroke: darken($button-background-color, 60%);
    color: darken($button-background-color, 60%);
}

.react-flow__edge-subproperty {
    stroke: darken(complement($button-background-color), 40%);
    color: darken(complement($button-background-color), 40%);
}

.react-flow__edge-rdftype {
    stroke: darken($button-background-color, 50%);
    color: darken($button-background-color, 50%);
}
