.#{$eccgui}-graphviz__minimap__node--default {
    &:not([fill]) {
        fill: $reactflow-node-border-color;
    }

    &:not([stroke]) {
        stroke: $reactflow-node-border-color;
    }
}

@mixin mapnodestyles($type) {
    .#{$eccgui}-graphviz__minimap__node--#{$type} {
        @include mapcoloring($type);
    }
}

@mixin mapcoloring($type) {
    &:not([fill]) {
        fill: var(--#{$eccgui}-#{$type}-node);
    }

    &:not([stroke]) {
        stroke: var(--#{$eccgui}-#{$type}-node);
    }
}

// Graph node type

@include mapnodestyles("graph");
@include mapnodestyles("class");
@include mapnodestyles("instance");
@include mapnodestyles("property");

// Workflow node types

@include mapnodestyles("dataset");
@include mapnodestyles("linking");
@include mapnodestyles("transform");
@include mapnodestyles("task");
@include mapnodestyles("workflow");

// Linking node types

@include mapnodestyles("sourcepath");
@include mapnodestyles("targetpath");
@include mapnodestyles("transformation");
@include mapnodestyles("comparator");
@include mapnodestyles("aggregator");
