// Node types

@mixin nodecoloring($color) {
    .#{$eccgui}-graphviz__node {
        border-color: $color;
        background-color: mix($color, $card-background-color, 24%);
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: $color;
    }
}

.react-flow__node-graph {
    @include nodecoloring($reactflow-color-graph-node);
    .#{$eccgui}-graphviz__node {
        border-style: double;
        border-width: 3 * $reactflow-node-border-width;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-style: double;
        border-width: 3 * $reactflow-node-border-width;
        left: -3 * $reactflow-node-border-width;
        right: -3 * $reactflow-node-border-width;
    }
}

.react-flow__node-class {
    @include nodecoloring($reactflow-color-class-node);
    .#{$eccgui}-graphviz__node {
        border-radius: 0;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-radius: 0;
    }
}

.react-flow__node-instance {
    @include nodecoloring($reactflow-color-instance-node);
}

.react-flow__node-property {
    @include nodecoloring($reactflow-color-property-node);
    .#{$eccgui}-graphviz__node {
        border-style: dashed;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-style: dashed;
    }
}

.react-flow__node-dataset {
    @include nodecoloring($reactflow-color-dataset-node);
}

.react-flow__node-linking {
    @include nodecoloring($reactflow-color-linking-node);
}

.react-flow__node-transform {
    @include nodecoloring($reactflow-color-transform-node);
}

.react-flow__node-task {
    @include nodecoloring($reactflow-color-task-node);
}

.react-flow__node-workflow {
    @include nodecoloring($reactflow-color-workflow-node);
    .#{$eccgui}-graphviz__node {
        border-width: 3 * $reactflow-node-border-width;
        border-style: double;
        border-radius: 0;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-width: 3 * $reactflow-node-border-width;
        border-style: double;
        border-radius: 0;
        left: -3 * $reactflow-node-border-width;
        right: -3 * $reactflow-node-border-width;
    }
}
