// Node types

.react-flow__node-graph {
    .#{$eccgui}-graphviz__node {
        background-color: #fff;
        border-color: #8e24aa;
        border-style: double;
        border-width: 3 * $reactflow-node-border-width;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #8e24aa;
        border-style: double;
        border-width: 3 * $reactflow-node-border-width;
    }
}

.react-flow__node-class {
    .#{$eccgui}-graphviz__node {
        border-width: 2 * $reactflow-node-border-width;
        border-radius: 0;
        border-color: darken($button-background-color, 60%);
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: darken($button-background-color, 60%);
        border-width: 2 * $reactflow-node-border-width;
        border-radius: 0;
    }
}

.react-flow__node-instance {
    .#{$eccgui}-graphviz__node {
        border-color: darken($button-background-color, 50%);
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: darken($button-background-color, 50%);
    }
}

.react-flow__node-property {
    .#{$eccgui}-graphviz__node {
        background-color: complement($button-background-color);
        border-color: darken(complement($button-background-color), 40%);
        border-radius: 2 * $reactflow-node-border-radius;
        border-style: dashed;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: darken(complement($button-background-color), 40%);
        border-radius: 2 * $reactflow-node-border-radius;
        border-style: dashed;
    }
}

.react-flow__node-dataset {
    .#{$eccgui}-graphviz__node {
        background-color: #e1f5fe;
        border-color: #039be5;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #039be5;
    }
}

.react-flow__node-linking {
    .#{$eccgui}-graphviz__node {
        background-color: #e0f7fa;
        border-color: #00acc1;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #00acc1;
    }
}

.react-flow__node-transform {
    .#{$eccgui}-graphviz__node {
        border-color: #00897b;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #00897b;
    }
}

.react-flow__node-task {
    .#{$eccgui}-graphviz__node {
        background-color: #eceff1;
        border-color: #546e7a;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #546e7a;
    }
}

.react-flow__node-workflow {
    .#{$eccgui}-graphviz__node {
        background-color: #fff;
        border-color: #4527a0;
        border-width: 3 * $reactflow-node-border-width;
        border-style: double;
        border-radius: 0;
    }
    .#{$eccgui}-graphviz__node__extension--expanded {
        border-color: #4527a0;
        border-width: 3 * $reactflow-node-border-width;
        border-style: double;
        border-radius: 0;
    }
}
