.react-flow__edge {

    path, rect {
        shape-rendering: optimizeSpeed;
        transition: $reactflow-transition-time/2 $reactflow-transition-function;
        stroke-opacity: 0.61;
    }

    text {
        opacity: 0.61;
    }

    &:hover {
        path, rect {
            stroke-opacity: 1;
        }

        text {
            opacity: 1;
        }
    }

    &.selected {
        stroke: $reactflow-edge-stroke-color-selected;
        color: $reactflow-edge-stroke-color-selected;
    }
}

path.react-flow__edge-path {
    stroke-width: 1;
    stroke: currentColor;

    .react-flow__edge.selected > & {
        stroke-width: 2;
        stroke: currentColor;
    }
}

path.react-flow__edge-path-glow {
    stroke: currentColor;
    stroke-opacity: 0;
    fill: none;
    stroke-linecap: round;

    .react-flow__edge:hover > & {
        stroke-opacity: 0.1;
    }

    .react-flow__edge.animated > & {
        stroke-dasharray: unset;
        animation: unset;
    }
}

.react-flow__edgeupdater {
    stroke: currentColor;
    fill: currentColor;
    opacity: 0;

    &:hover {
        opacity: 0.05;
    }
}

.react-flow__edge-textwrapper {
    transition: $reactflow-transition-time/2 $reactflow-transition-function;
}

.react-flow__edge-text {
    fill: currentColor;
    stroke: none;
}

.react-flow__edge-textbg {
}

// Type colors

.react-flow__edge-default {
    stroke: $reactflow-edge-stroke-color;
    color: $reactflow-edge-stroke-color;

    &:hover {
        stroke: $reactflow-edge-stroke-color-hover;
        color: $reactflow-edge-stroke-color-hover;
    }
}

.react-flow__edge-implicitEdge {
    stroke: #00acc1;
    color: #00acc1;
}

.react-flow__edge-importEdge {
    stroke: #8e24aa;
    color: #8e24aa;
}

.react-flow__edge-subclassEdge {
    stroke: darken($button-background-color, 60%);
    color: darken($button-background-color, 60%);
}

.react-flow__edge-subpropertyEdge {
    stroke: darken(complement($button-background-color), 40%);
    color: darken(complement($button-background-color), 40%);
}

.react-flow__edge-rdftypeEdge {
    stroke: darken($button-background-color, 50%);
    color: darken($button-background-color, 50%);
}

.react-flow__edge-successStep {
    stroke: $eccgui-color-success-text;
    color: $eccgui-color-success-text;
}

.react-flow__edge-warningStep {
    stroke: $eccgui-color-warning-text;
    color: $eccgui-color-warning-text;
}

.react-flow__edge-dangerStep {
    stroke: $eccgui-color-danger-text;
    color: $eccgui-color-danger-text;
}
