@use "~@carbon/react/scss/config" with (
    $css--body: $css--body,
    $css--font-face: $css--font-face,
    $css--reset: $css--reset,
    $css--default-type: $css--default-type,
    $prefix: $prefix,
    $flex-grid-columns: $flex-grid-columns,
    $use-flexbox-grid: $use-flexbox-grid
);
@use "~@carbon/react/scss/utilities/_visually-hidden";

// we replicate the function here because the distinct import is not possible via @carbon/react
// @import "~@carbon/styles/scss/components/ui-shell/functions";
@function mini-units($count) {
    @return 0.5rem * $count;
}

@import "~@carbon/react/scss/feature-flags";
@import "~@carbon/react/scss/colors";
@import "~@carbon/react/scss/theme";

:root {
    @include theme;
}

:root, .#{$eccgui}-palette--light, .#{$eccgui}-palette--dark {
    // overwrite some custom properties
    --#{$prefix}-focus: #{$eccgui-color-accent};
    --#{$prefix}-icon-primary: #{$eccgui-color-workspace-text};
    --#{$prefix}-border-subtle-00: #{eccgui-color-var("identity", "background", "700")};
    --#{$prefix}-icon-secondary: #{eccgui-color-var("identity", "text", "700")};
    --#{$prefix}-icon-primary: #{eccgui-color-var("identity", "text", "900")};
}

@import "~@carbon/react/scss/spacing";
@import "~@carbon/react/scss/utilities/z-index";
