@use "~@carbon/react/scss/config" with (
    $css--body: $css--body,
    $css--font-face: $css--font-face,
    $css--reset: $css--reset,
    $css--default-type: $css--default-type,
    $prefix: $prefix,
    $flex-grid-columns: $flex-grid-columns,
    $use-flexbox-grid: $use-flexbox-grid
);
@use "~@carbon/react/scss/utilities/_visually-hidden";
// we replicate the function here because the distinct import is not ossible via @carbon/react
// @import "~@carbon/styles/scss/components/ui-shell/functions";
@function mini-units($count) {
    @return 0.5rem * $count;
}
@import "~@carbon/react/scss/feature-flags";
@import "~@carbon/react/scss/colors";
@import "~@carbon/react/scss/theme";

:root {
    @include theme;
}

@import "~@carbon/react/scss/spacing";
@import "~@carbon/react/scss/utilities/z-index";
