@use "sass:math";

// Stack of Carbon variables that are necessary to use their framework
// TODO: calculate them from own configuration variables, all unchanged variables are commented out

$prefix: "cds" !default;
$flex-grid-columns: 16 !default;
$use-flexbox-grid: true !default;

/// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
$css--font-face: false !default;

/// If true, includes the `css-helpers()` mixin
$css--helpers: false !default;

/// If true, includes the `css-body()` mixin
$css--body: false !default;

/// If true, the `layer()` mixin sets `box-shadow` values
$css--use-layer: true !default;

/// If true, include reset CSS
$css--reset: false !default;

/// If true, include default type
$css--default-type: false !default;

/// Used with `css--font-face` feature flag, if true, uses Plex font families instead of Helvetica
$css--plex: false !default;
$base-font-size: $eccgui-size-typo-base !default;

@import "~@carbon/styles/scss/utilities/convert";

$label-01: (
    font-size: rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$helper-text-01: (
    font-size: rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$body-short-01: (
    font-size: rem($eccgui-size-typo-text),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$body-short-02: (
    font-size: rem($eccgui-size-typo-subtitle),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$body-long-01: (
    font-size: rem($eccgui-size-typo-text),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$body-long-02: (
    font-size: rem($eccgui-size-typo-subtitle),
    line-height: $eccgui-size-typo-text-lineheight * $eccgui-size-type-levelratio,
) !default;
$code-01: (
    font-family: $eccgui-font-family-monospace,
    font-size: rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$code-02: (
    font-family: $eccgui-font-family-monospace,
    font-size: rem($eccgui-size-typo-text),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$heading-01: (
    font-size: rem($eccgui-size-typo-text),
    font-weight: 600,
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$heading-02: (
    font-size: rem($eccgui-size-typo-subtitle),
    font-weight: 600,
    line-height: $eccgui-size-typo-text-lineheight * $eccgui-size-type-levelratio,
) !default;
$layer-01: transparent !default;
$layer-02: $eccgui-color-workspace-background !default;
$ui-03: $pt-divider-black !default;
$layer-accent-01: $ui-03 !default;
$border-subtle-01: $ui-03 !default;
$text-primary: $eccgui-color-applicationheader-text !default;
$text-secondary: $eccgui-color-workspace-text !default;
$link-primary: $eccgui-color-accent !default;
$link-primary-hover: $eccgui-color-info-text !default;
$link-visited: purple !default;
$hover-ui: $button-background-color-hover !default;
$background-hover: $hover-ui !default;
$layer-hover-01: $hover-ui !default;
$field-hover-01: $hover-ui !default;
$field-hover-02: $hover-ui !default;
$disabled-02: rgba($text-primary, $eccgui-opacity-disabled) !default;
$text-disabled: $disabled-02 !default;
$icon-disabled: $disabled-02 !default;
$button-disabled: $disabled-02 !default;
$border-disabled: $disabled-02 !default;
$spacing-05: rem($eccgui-size-inline-whitespace) !default;
$spacing-09: rem($eccgui-size-block-whitespace * 2 * $eccgui-size-type-levelratio) !default;
$data-table-zebra-color: $layer-02 !default;

// FIXME: for some unknown reasons it is not possible to set the $layer* vars here, for example they are used to color the tables

// fetch some imports even earlier than normally necessary to have them ready before auto-included by library elements
@import "./../../components/Button/button";
