@use "sass:math";

// Stack of Carbon variables that are necessary to use their framework
// TODO: calculate them from own configuration variables, all unchanged variables are commented out

/// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
$css--font-face: false !default;

/// If true, includes the `css-helpers()` mixin
$css--helpers: false !default;

/// If true, includes the `css-body()` mixin
$css--body: false !default;

/// If true, the `layer()` mixin sets `box-shadow` values
$css--use-layer: true !default;

/// If true, include reset CSS
$css--reset: false !default;

/// If true, include default type
$css--default-type: false !default;

/// Used with `css--font-face` feature flag, if true, uses Plex font families instead of Helvetica
$css--plex: false !default;

$feature-flags: (
    ui-shell: true,
    grid-columns-16: true,
    // not necessary, we include 16 columns grid directly
) !default;

// Manage deprecations
$deprecations--entry: true;
$deprecations--reasons: ();
$deprecations--message: "Deprecated code was found, this code will be removed before the next release of Carbon.";

$carbon--base-font-size: $eccgui-size-typo-base !default;
@import "~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/convert";

$caption-01: (
    font-size: carbon--rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$label-01: (
    font-size: carbon--rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$helper-text-01: (
    font-size: carbon--rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$body-short-01: (
    font-size: carbon--rem($eccgui-size-typo-text),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$body-long-01: (
    font-size: carbon--rem($eccgui-size-typo-text),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$code-01: (
    font-family: $eccgui-font-family-monospace,
    font-size: carbon--rem($eccgui-size-typo-caption),
    line-height: math.div($eccgui-size-typo-text-lineheight, $eccgui-size-type-levelratio),
) !default;
$heading-01: (
    font-size: carbon--rem($eccgui-size-typo-text),
    font-weight: 600,
    line-height: $eccgui-size-typo-text-lineheight,
) !default;

$body-short-02: (
    font-size: carbon--rem($eccgui-size-typo-subtitle),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$body-long-02: (
    font-size: carbon--rem($eccgui-size-typo-subtitle),
    line-height: $eccgui-size-typo-text-lineheight * $eccgui-size-type-levelratio,
) !default;
$code-02: (
    font-family: $eccgui-font-family-monospace,
    font-size: carbon--rem($eccgui-size-typo-text),
    line-height: $eccgui-size-typo-text-lineheight,
) !default;
$heading-02: (
    font-size: carbon--rem($eccgui-size-typo-subtitle),
    font-weight: 600,
    line-height: $eccgui-size-typo-text-lineheight * $eccgui-size-type-levelratio,
) !default;

$ui-01: transparent !default;
$ui-02: $eccgui-color-workspace-background !default;
$ui-03: $pt-divider-black !default;
$text-01: $eccgui-color-applicationheader-text !default;
$text-02: $eccgui-color-workspace-text !default;
$link-01: $eccgui-color-accent !default;
$hover-primary-text: $eccgui-color-info-text !default;
$hover-field: $button-background-color-hover !default;
$hover-ui: $hover-field !default;
$visited-link: purple !default;
$disabled-02: rgba($text-01, $eccgui-opacity-disabled) !default;

$layout-04: carbon--rem(
    $eccgui-size-block-whitespace * 2 * $eccgui-size-type-levelratio
) !default; // regular height of text input
$spacing-05: carbon--rem($eccgui-size-inline-whitespace) !default;

// FIXME: for some unknown reasons it is not possible to set the $layer* vars here, for example they are used to color the tables

// fetch some imports even earlier than normally necessary to have them ready before auto-included by library elements
@import "./../../components/Button/button";
