.#{$eccgui}-addon-activitycontrol {
    .#{$eccgui}-overviewitem__item {
        position: relative;
    }

    .#{$ns}-progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: $tab-indicator-width;
    }
}

.#{$eccgui}-addon-activitycontrol--shrink {
    display: inline-flex;
    max-width: 100%;

    &:not(.#{$eccgui}-card) {
        display: inline-block;
    }

    .#{$eccgui}-overviewitem__depiction + .#{$eccgui}-overviewitem__description {
        margin-left: 0;
    }
}
