.#{$eccgui}-toolbar {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.#{$eccgui}-toolbar--vertical {
    flex-direction: column;
}

.#{$eccgui}-toolbar--nowrap {
    flex-wrap: nowrap;
}

.#{$eccgui}-toolbar__section {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 0;

    .#{$eccgui}-toolbar--vertical > & {
        flex-direction: column;
        align-items: stretch;
    }
}

.#{$eccgui}-toolbar__section--cangrow,
.#{$eccgui}-toolbar__section--cangrow > * {
    flex-grow: 1;
}

.#{$eccgui}-toolbar__section--canshrink {
    flex-shrink: 1;
}

.#{$eccgui}-toolbar__section--overflowhidden {
    overflow: hidden;
    text-overflow: ellipsis;
}

.#{$ns}-control {
    .#{$eccgui}-toolbar > &,
    .#{$eccgui}-toolbar__section > & {
        margin-bottom: 0;
    }
}
