$eccgui-size-separation-spacing-medium: $eccgui-size-typo-base !default;
$eccgui-color-separation-divider: $pt-divider-black !default;

.#{$eccgui}-separation__spacing-horizontal,
.#{$eccgui}-separation__spacing-vertical,
.#{$eccgui}-separation__divider-horizontal {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 1px;
    width: 100%;
    display: block;
}

.#{$eccgui}-separation__divider-horizontal,
.#{$eccgui}-separation__spacing--hasdivider {
    border: none;
    background-color: $eccgui-color-separation-divider;
}

.#{$eccgui}-separation__spacing-horizontal,
.#{$eccgui}-separation__divider-horizontal {
    &.#{$eccgui}-separation__spacing--none {
        // margin: 0;
    }

    &.#{$eccgui}-separation__spacing--tiny {
        margin: $eccgui-size-separation-spacing-medium/8 0;
    }

    &.#{$eccgui}-separation__spacing--small {
        margin: $eccgui-size-separation-spacing-medium/4 0;
    }

    &.#{$eccgui}-separation__spacing--medium {
        margin: $eccgui-size-separation-spacing-medium/2 0;
    }

    &.#{$eccgui}-separation__spacing--large {
        margin: $eccgui-size-separation-spacing-medium * 0.75 0;
    }

    &.#{$eccgui}-separation__spacing--xlarge {
        margin: $eccgui-size-separation-spacing-medium 0;
    }
}

.#{$eccgui}-separation__spacing-vertical {
    display: inline-block;
    height: 1em * $eccgui-size-typo-base-lineheight;
    width: 1px;
    vertical-align: text-bottom;

    &.#{$eccgui}-separation__spacing--none {
        // margin: 0;
    }

    &.#{$eccgui}-separation__spacing--tiny {
        margin: 0 $eccgui-size-separation-spacing-medium/8;
    }

    &.#{$eccgui}-separation__spacing--small {
        margin: 0 $eccgui-size-separation-spacing-medium/4;
    }

    &.#{$eccgui}-separation__spacing--medium {
        margin: 0 $eccgui-size-separation-spacing-medium/2;
    }

    &.#{$eccgui}-separation__spacing--large {
        margin: 0 $eccgui-size-separation-spacing-medium * 0.75;
    }

    &.#{$eccgui}-separation__spacing--xlarge {
        margin: 0 $eccgui-size-separation-spacing-medium;
    }
}
