$eccgui-size-separation-spacing-medium: $eccgui-size-typo-base !default;
$eccgui-color-separation-divider: $pt-divider-black !default;

.#{$eccgui}-separation__spacing-horizontal,
.#{$eccgui}-separation__spacing-vertical,
.#{$eccgui}-separation__divider-horizontal {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 1px;
    width: 100%;
    display: block;
}

.#{$eccgui}-separation__divider-horizontal,
.#{$eccgui}-separation__spacing--hasdivider {
    border: none;
    background-color: $eccgui-color-separation-divider;
}

.#{$eccgui}-separation__spacing-horizontal,
.#{$eccgui}-separation__divider-horizontal {
    &.#{$eccgui}-separation__spacing--none {
        // margin: 0;
    }

    &.#{$eccgui}-separation__spacing--tiny {
        margin-top: $eccgui-size-separation-spacing-medium * 0.125;
        margin-bottom: $eccgui-size-separation-spacing-medium * 0.125;
    }

    &.#{$eccgui}-separation__spacing--small {
        margin-top: $eccgui-size-separation-spacing-medium * 0.25;
        margin-bottom: $eccgui-size-separation-spacing-medium * 0.25;
    }

    &.#{$eccgui}-separation__spacing--medium {
        margin-top: $eccgui-size-separation-spacing-medium * 0.5;
        margin-bottom: $eccgui-size-separation-spacing-medium * 0.5;
    }

    &.#{$eccgui}-separation__spacing--large {
        margin-top: $eccgui-size-separation-spacing-medium * 0.75;
        margin-bottom: $eccgui-size-separation-spacing-medium * 0.75;
    }

    &.#{$eccgui}-separation__spacing--xlarge {
        margin-top: $eccgui-size-separation-spacing-medium;
        margin-bottom: $eccgui-size-separation-spacing-medium;
    }
}

.#{$eccgui}-separation__divider-horizontal--short {
    width: 39%;
}

.#{$eccgui}-separation__divider-horizontal--half {
    width: 50%;
}

.#{$eccgui}-separation__divider-horizontal--medium {
    width: 61%;
}

.#{$eccgui}-separation__divider-horizontal--center {
    margin-left: auto;
    margin-right: auto;
}

.#{$eccgui}-separation__divider-horizontal--right {
    margin-left: auto;
}

.#{$eccgui}-separation__spacing-vertical {
    display: inline-block;
    height: 1em * $eccgui-size-typo-base-lineheight;
    width: 1px;
    vertical-align: text-bottom;

    &.#{$eccgui}-separation__spacing--none {
        // margin: 0;
    }

    &.#{$eccgui}-separation__spacing--tiny {
        margin: 0 $eccgui-size-separation-spacing-medium * 0.125;
    }

    &.#{$eccgui}-separation__spacing--small {
        margin: 0 $eccgui-size-separation-spacing-medium * 0.25;
    }

    &.#{$eccgui}-separation__spacing--medium {
        margin: 0 $eccgui-size-separation-spacing-medium * 0.5;
    }

    &.#{$eccgui}-separation__spacing--large {
        margin: 0 $eccgui-size-separation-spacing-medium * 0.75;
    }

    &.#{$eccgui}-separation__spacing--xlarge {
        margin: 0 $eccgui-size-separation-spacing-medium;
    }
}
