$eccgui-size-spinner-tiny: 16px !default;
$eccgui-size-spinner-small: 32px !default;
$eccgui-size-spinner-medium: 64px !default;
$eccgui-size-spinner-large: 128px !default;
$eccgui-size-spinner-xlarge: 256px !default;

// lib import
@import "~@blueprintjs/core/src/components/spinner/spinner";

.#{$eccgui}-spinner {
    height: 100%;
    overflow: hidden;

    .#{$ns}-spinner-head {
        stroke: currentcolor;
    }
    .#{$ns}-spinner-track {
        stroke: rgba(#000, 0.1);
    }
}

span.#{$eccgui}-spinner {
    display: inline-flex;
    vertical-align: text-top;
}

.#{$eccgui}-spinner--intent-inherit {
    color: inherit;
}

.#{$eccgui}-spinner--intent-primary {
    color: $eccgui-color-accent;
}

.#{$eccgui}-spinner--intent-success {
    color: $eccgui-color-success-text;
}

.#{$eccgui}-spinner--intent-warning {
    color: $eccgui-color-warning-text;
}

.#{$eccgui}-spinner--intent-danger {
    color: $eccgui-color-danger-text;
}

.#{$eccgui}-spinner--size-tiny svg {
    width: $eccgui-size-spinner-tiny;
    height: $eccgui-size-spinner-tiny;
}
.#{$eccgui}-spinner--size-small svg {
    width: $eccgui-size-spinner-small;
    height: $eccgui-size-spinner-small;
}
.#{$eccgui}-spinner--size-medium svg {
    width: $eccgui-size-spinner-medium;
    height: $eccgui-size-spinner-medium;
}
.#{$eccgui}-spinner--size-large svg {
    width: $eccgui-size-spinner-large;
    height: $eccgui-size-spinner-large;
}
.#{$eccgui}-spinner--size-xlarge svg {
    width: $eccgui-size-spinner-xlarge;
    height: $eccgui-size-spinner-xlarge;
}
.#{$eccgui}-spinner--size-inherit svg {
    width: 1em;
    height: 1em;
}

.#{$eccgui}-spinner--localbackdrop {
    position: absolute;
    inset: 0;
    background-color: rgba($eccgui-color-workspace-background, $eccgui-opacity-muted);

    .#{$eccgui}-card & {
        background-color: rgba($card-background-color, $eccgui-opacity-muted);
    }
}

.#{$eccgui}-spinner__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    .#{$ns}-overlay-content {
        outline: none;
    }
}

.#{$eccgui}-spinner__backdrop {
    background-color: rgba($eccgui-color-workspace-background, $eccgui-opacity-muted);
}
