@import "~@blueprintjs/core/src/components/breadcrumbs/breadcrumbs";
@import "~@blueprintjs/core/src/components/overflow-list/overflow-list";

.#{$eccgui}-breadcrumb__list {
    height: auto;

    & > li {
        &:last-of-type {
            min-width: 0;
        }
    }

    & > li::after {
        display: inline-block;
        flex-shrink: 0;
        width: auto;
        width: $eccgui-size-block-whitespace;
        height: auto;
        margin: 0;
        text-align: center;
        vertical-align: middle;
        content: "/";
        background: none;
    }

    .#{$ns}-breadcrumbs-collapsed {
        padding: 0;
        margin: 0;

        &::before {
            width: $eccgui-size-block-whitespace * 2;
            height: $eccgui-size-block-whitespace;
            background-image: url("~@carbon/icons/svg/32/overflow-menu--horizontal.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .#{$eccgui}-overviewitem__line > & {
        display: flex;
    }
}

.#{$eccgui}-breadcrumb__list--latenoverflow {
    & > li {
        flex-shrink: 1;
        min-width: 0;
    }

    .#{$eccgui}-breadcrumb__item > * {
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
}

.#{$eccgui}-breadcrumb__item {
    display: inline-block;
    overflow: hidden;
    font-size: inherit;
    text-overflow: ellipsis;

    &:not(.#{$ns}-breadcrumb-current):not(.#{$ns}-disabled) {
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    a {
        @extend .#{$eccgui}-breadcrumb__item;
        @extend .#{$ns}-breadcrumb;
    }
}
