.#{$eccgui}-flexible__container {
    --#{$eccgui}-flexible-item-shrink: 1;
    --#{$eccgui}-flexible-item-grow: 1;
    --#{$eccgui}-flexible-container-gapsize: 0;

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--#{$eccgui}-flexible-container-gapsize);
    place-content: stretch center;
    align-items: stretch;
    width: 100%;
}

.#{$eccgui}-flexible__container--absolutespace {
    position: absolute;
    inset: 0;
}

.#{$eccgui}-flexible__container--vertical {
    flex-direction: column;
}

.#{$eccgui}-flexible__container--gap-tiny {
    --#{$eccgui}-flexible-container-gapsize: #{$eccgui-size-block-whitespace * 0.25};
}
.#{$eccgui}-flexible__container--gap-small {
    --#{$eccgui}-flexible-container-gapsize: #{$eccgui-size-block-whitespace * 0.5};
}
.#{$eccgui}-flexible__container--gap-medium {
    --#{$eccgui}-flexible-container-gapsize: #{$eccgui-size-block-whitespace};
}
.#{$eccgui}-flexible__container--gap-large {
    --#{$eccgui}-flexible-container-gapsize: #{$eccgui-size-block-whitespace * 1.5};
}
.#{$eccgui}-flexible__container--gap-xlarge {
    --#{$eccgui}-flexible-container-gapsize: #{$eccgui-size-block-whitespace * 2};
}

.#{$eccgui}-flexible__item {
    position: relative;
    flex: var(--#{$eccgui}-flexible-item-grow) var(--#{$eccgui}-flexible-item-shrink) 100%;
    min-width: 0;

    .#{$eccgui}-flexible__container--notequalitemspace > & {
        flex-basis: auto;
    }
}

@media print {
    .#{$eccgui}-flexible__container,
    .#{$eccgui}-flexible__item {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;

        &:is(.#{$eccgui}-flexible__item) {
            margin-bottom: $eccgui-size-block-whitespace;
        }
    }
}
