$eccgui-size-typo-label: $eccgui-size-typo-caption !default;
$eccgui-size-typo-label-lineheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-color-label-text: $eccgui-color-workspace-text;
$eccgui-color-label-info: rgba($eccgui-color-workspace-text, $eccgui-opacity-muted);

.#{$eccgui}-label {
    display: block;
    font-size: $eccgui-size-typo-label;
    line-height: $eccgui-size-typo-label-lineheight;
    color: $eccgui-color-label-text;
    vertical-align: middle;

    .#{$eccgui}-typography__overflowtext--passdown > & {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
    }
}

.#{$eccgui}-label--disabled {
    opacity: $eccgui-opacity-disabled;
}

.#{$eccgui}-label__text {
    .#{$eccgui}-typography__overflowtext--passdown > .#{$eccgui}-label > & {
        display: block;
        min-width: 0;
        max-width: none;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.#{$eccgui}-label__info {
    color: $eccgui-color-label-info;
    &:before {
        content: "(";
    }
    &:after {
        content: ")";
    }

    .#{$eccgui}-label__text + & {
        margin-left: $eccgui-size-inline-whitespace * 0.5;
    }

    .#{$eccgui}-typography__overflowtext--passdown > .#{$eccgui}-label > & {
        display: block;
        min-width: 0;
        max-width: none;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.#{$eccgui}-label__tooltip {
    color: $eccgui-color-label-info;

    .#{$eccgui}-label__text + &,
    .#{$eccgui}-label__info + & {
        margin-left: $eccgui-size-inline-whitespace * 0.5;
    }

    .#{$eccgui}-typography__overflowtext--passdown > .#{$eccgui}-label > & {
        min-width: 0;
        max-width: none;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.#{$eccgui}-label__other {
    display: inline-block;
    margin-left: $eccgui-size-inline-whitespace;
}
