$eccgui-size-typo-label: $eccgui-size-typo-caption !default;
$eccgui-size-typo-label-lineheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-color-label-text: $eccgui-color-workspace-text;
$eccgui-color-label-info: rgba($eccgui-color-workspace-text, $eccgui-opacity-muted);

.ecc-label {
    display: block;
    font-size: $eccgui-size-typo-label;
    line-height: $eccgui-size-typo-label-lineheight;
    color: $eccgui-color-label-text;
    vertical-align: middle;
}

.ecc-label--disabled {
    opacity: $eccgui-opacity-disabled;
}

.ecc-label__text {
}

.ecc-label__info {
    color: $eccgui-color-label-info;
    &:before {
        content: "(";
    }
    &:after {
        content: ")";
    }

    .ecc-label__text + & {
        margin-left: $eccgui-size-inline-whitespace / 2;
    }
}

.ecc-label__tooltip {
    .ecc-label__text + &,
    .ecc-label__info + & {
        margin-left: $eccgui-size-inline-whitespace / 2;
    }
    color: $eccgui-color-label-info;
}

.ecc-label__other {
    display: inline-block;
    margin-left: $eccgui-size-inline-whitespace;
}
