@import "~@blueprintjs/select/src/components/select/select";

.#{$ns}-select-popover {
    .#{$ns}-menu {
        max-width: unset;
        max-height: unset;
    }
}

.#{$eccgui}-select {
    display: inline-block;

    &.#{$ns}-fill {
        display: block;
    }
}
