$ui-02: $eccgui-color-workspace-background !default;

@import "~carbon-components/scss/components/ui-shell/content";

// tweack original layout

.#{$prefix}--content {
    padding: $eccgui-size-block-whitespace;
    min-height: 100vh;
    transform: none; // prevent problems with fixed positions of children, @see https://www.darrenlester.com/blog/why-fixed-position-element-not-relative-to-viewport
}

.#{$prefix}--header ~ .#{$prefix}--content {
    margin-top: 0;
    padding-top: calc(#{mini-units(8)} + #{$eccgui-size-block-whitespace});
    min-height: calc(100vh - #{mini-units(8)} - #{2 * $eccgui-size-block-whitespace});
    box-sizing: content-box;
}

.#{$prefix}--side-nav ~ .#{$prefix}--content,
.#{$eccgui}-application__content--withsidebar {
    margin-left: mini-units(40);
}

.#{$eccgui}-application__content--railsidebar {
    margin-left: mini-units(8);
}
