$ui-02: $eccgui-color-workspace-background !default;

@import "~@carbon/react/scss/components/ui-shell/content/index";

// tweack original layout

.#{$prefix}--content {
    min-height: 100vh;
    padding: $eccgui-size-block-whitespace;
    transform: none; // prevent problems with fixed positions of children, @see https://www.darrenlester.com/blog/why-fixed-position-element-not-relative-to-viewport
}

.#{$prefix}--header ~ .#{$prefix}--content {
    box-sizing: content-box;
    min-height: calc(100vh - #{mini-units(8)} - #{2 * $eccgui-size-block-whitespace});
    padding-top: calc(#{mini-units(8)} + #{$eccgui-size-block-whitespace});
    margin-top: 0;
}

.#{$prefix}--side-nav ~ .#{$prefix}--content,
.#{$eccgui}-application__content--withsidebar {
    margin-left: mini-units(40);
}

.#{$eccgui}-application__content--railsidebar {
    margin-left: mini-units(8);
}

@media print {
    .#{$eccgui}-application__content {
        padding: $eccgui-size-block-whitespace 0 0 0 !important;
        margin: 0;
    }
}
