$card-padding: 0 !default;
$card-background-color: $white !default;
//$dark-card-background-color: $dark-gray4 !default;

$eccgui-size-card-spacing: $eccgui-size-typo-base !default;

@import "~@blueprintjs/core/src/components/card/card";

.ecc-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    &.ecc-intent--primary {
        background-color: rgba($eccgui-color-primary, 0.1);
    }
    &.ecc-intent--accent {
        background-color: rgba($eccgui-color-accent, 0.1);
    }
    &.ecc-intent--success {
        background-color: $eccgui-color-success-background;
    }
    &.ecc-intent--info {
        background-color: $eccgui-color-info-background;
    }
    &.ecc-intent--warning {
        background-color: $eccgui-color-warning-background;
    }
    &.ecc-intent--danger {
        background-color: $eccgui-color-danger-background;
    }
}

.ecc-card__header {
    padding: $eccgui-size-card-spacing/2 $eccgui-size-card-spacing/2 $eccgui-size-card-spacing/2 $eccgui-size-card-spacing;
    box-sizing: content-box;
    flex-grow: 0;
    flex-shrink: 0;
}

.ecc-card__title {
    font-weight: normal;

    &.ecc-intent--primary {
        color: $eccgui-color-primary;
    }
    &.ecc-intent--accent {
        color: $eccgui-color-accent;
    }
    &.ecc-intent--success {
        color: $eccgui-color-success-text;
    }
    &.ecc-intent--info {
        color: $eccgui-color-info-text;
    }
    &.ecc-intent--warning {
        color: $eccgui-color-warning-text;
    }
    &.ecc-intent--danger {
        color: $eccgui-color-danger-text;
    }

    & > * {
        font-weight: inherit;
    }
}

.ecc-card__content {
    padding: $eccgui-size-card-spacing/2 $eccgui-size-card-spacing $eccgui-size-card-spacing $eccgui-size-card-spacing;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;

    .ecc-separation__divider-horizontal + &,
    &:first-child {
        padding-top: $eccgui-size-card-spacing;
    }
}

.ecc-card__actions {
    padding: $eccgui-size-card-spacing/4;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    & > * {
        margin: $eccgui-size-card-spacing/4;
    }

    &.ecc-intent--success > .ecc-button:first-child {
        background-color: $eccgui-color-success-text;
        color: $eccgui-color-success-background;
    }
    &.ecc-intent--info > .ecc-button:first-child {
        background-color: $eccgui-color-info-text;
        color: $eccgui-color-info-background;
    }
    &.ecc-intent--warning > .ecc-button:first-child {
        background-color: $eccgui-color-warning-text;
        color: $eccgui-color-warning-background;
    }
    &.ecc-intent--danger > .ecc-button:first-child {
        background-color: $eccgui-color-danger-text;
        color: $eccgui-color-danger-background;
    }
}

.ecc-card__actions--inversedirection {
    flex-direction: row-reverse;
}

.ecc-card__actions__aux {
    order: 1000;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    & > * {
        margin: $eccgui-size-card-spacing/4;
    }

    .ecc-card__actions--inversedirection > & {
        justify-content: flex-start;
    }
}
