$card-padding: 0 !default;
$card-background-color: $white !default;
$card-selected-background-color: rgba($blue3, 0.1);
$eccgui-size-card-spacing: $eccgui-size-typo-base !default;

@use "sass:color";
@import "~@blueprintjs/core/src/components/card/card";

.#{$eccgui}-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    &.#{$eccgui}-intent--primary {
        background-color: color.mix($eccgui-color-primary, $card-background-color, 5%);
    }
    &.#{$eccgui}-intent--accent {
        background-color: color.mix($eccgui-color-accent, $card-background-color, 10%);
    }
    &.#{$eccgui}-intent--success {
        background-color: $eccgui-color-success-background;
    }
    &.#{$eccgui}-intent--info {
        background-color: $eccgui-color-info-background;
    }
    &.#{$eccgui}-intent--warning {
        background-color: $eccgui-color-warning-background;
    }
    &.#{$eccgui}-intent--danger {
        background-color: $eccgui-color-danger-background;
    }

    &.#{$ns}-interactive:hover {
        background-color: $button-background-color-hover;
    }

    &.#{$ns}-selected {
        background-color: $card-selected-background-color;
        box-shadow: 0 0 0 3px rgba($eccgui-color-accent, 0.2), 0 0 0 1px $eccgui-color-accent;

        &.#{$ns}-interactive {
            box-shadow: 0 0 0 3px rgba($eccgui-color-accent, 0.2), 0 0 0 1px $eccgui-color-accent;

            &:hover {
                background-color: color.mix($card-selected-background-color, $button-background-color-hover, 50%);
            }
        }
    }
}

.#{$eccgui}-card--elevated {
    background-color: $button-background-color-active;
}

.#{$eccgui}-card--fullheight {
    @extend .#{$eccgui}-grid__row--fullheight;
}

.#{$eccgui}-card--scrollonfocus {
    outline: none;
}

.#{$eccgui}-card__header {
    box-sizing: content-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding: $eccgui-size-card-spacing * 0.5 $eccgui-size-card-spacing * 0.5 $eccgui-size-card-spacing * 0.5
        $eccgui-size-card-spacing;

    .#{$eccgui}-card--whitespace-none > header > & {
        padding: 0;
    }

    .#{$eccgui}-card--whitespace-small > header > & {
        padding: $eccgui-size-card-spacing * 0.25 $eccgui-size-card-spacing * 0.25 $eccgui-size-card-spacing * 0.25
            $eccgui-size-card-spacing * 0.5;
    }

    .#{$eccgui}-card--whitespace-large > header > & {
        padding: $eccgui-size-card-spacing $eccgui-size-card-spacing $eccgui-size-card-spacing $eccgui-size-card-spacing *
            2;
    }
}

.#{$eccgui}-card__title {
    font-weight: normal;

    &.#{$eccgui}-intent--primary {
        color: $eccgui-color-primary;
    }
    &.#{$eccgui}-intent--accent {
        color: $eccgui-color-accent;
    }
    &.#{$eccgui}-intent--success {
        color: $eccgui-color-success-text;
    }
    &.#{$eccgui}-intent--info {
        color: $eccgui-color-info-text;
    }
    &.#{$eccgui}-intent--warning {
        color: $eccgui-color-warning-text;
    }
    &.#{$eccgui}-intent--danger {
        color: $eccgui-color-danger-text;
    }

    & > * {
        font-weight: inherit;
    }
}

.#{$eccgui}-card__options {
    flex-shrink: 1;
    max-width: calc(100% - #{$eccgui-size-card-spacing * 1.5});

    & > .#{$eccgui}-button:not(.#{$eccgui}-button--icon) {
        flex-shrink: 1;

        .#{$ns}-button-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.#{$eccgui}-card__content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: $eccgui-size-card-spacing * 0.5 $eccgui-size-card-spacing $eccgui-size-card-spacing
        $eccgui-size-card-spacing;
    overflow: auto;

    .#{$eccgui}-card--whitespace-none > & {
        padding: 0;
    }

    .#{$eccgui}-card--whitespace-small > & {
        padding: $eccgui-size-card-spacing * 0.25 $eccgui-size-card-spacing * 0.5 $eccgui-size-card-spacing * 0.5
            $eccgui-size-card-spacing * 0.5;
    }

    .#{$eccgui}-card--whitespace-large > & {
        padding: $eccgui-size-card-spacing $eccgui-size-card-spacing * 2 $eccgui-size-card-spacing * 2
            $eccgui-size-card-spacing * 2;
    }

    .#{$eccgui}-separation__divider-horizontal + &,
    &:first-child {
        padding-top: $eccgui-size-card-spacing;

        .#{$eccgui}-card--whitespace-none > & {
            padding-top: 0;
        }

        .#{$eccgui}-card--whitespace-small > & {
            padding-top: $eccgui-size-card-spacing * 0.5;
        }

        .#{$eccgui}-card--whitespace-large > & {
            padding-top: $eccgui-size-card-spacing * 2;
        }
    }
}

.#{$eccgui}-card__content--noflexheight {
    flex-grow: 0;
    flex-shrink: 0;
}

.#{$eccgui}-card__actions {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    padding: $eccgui-size-card-spacing * 0.25 $eccgui-size-card-spacing;

    .#{$eccgui}-card--whitespace-none > & {
        padding: 0;
    }

    .#{$eccgui}-card--whitespace-small > & {
        padding: $eccgui-size-card-spacing * 0.125 $eccgui-size-card-spacing * 0.5;
    }

    .#{$eccgui}-card--whitespace-large > & {
        padding: $eccgui-size-card-spacing * 0.75 $eccgui-size-card-spacing * 2;
    }

    & > * {
        margin: $eccgui-size-card-spacing * 0.25 0;
    }

    &:not(.#{$eccgui}-card__actions--inversedirection) > * {
        &:not(:first-child) {
            margin-left: $eccgui-size-card-spacing * 0.25;
        }

        &:not(:last-child) {
            margin-right: $eccgui-size-card-spacing * 0.25;
        }
    }

    &.#{$eccgui}-card__actions--inversedirection > * {
        &:not(:first-child) {
            margin-right: $eccgui-size-card-spacing * 0.25;
        }

        &:not(:last-child) {
            margin-left: $eccgui-size-card-spacing * 0.25;
        }
    }

    &.#{$eccgui}-intent--success > .#{$eccgui}-button:first-child {
        @extend .#{$ns}-intent-success;
    }
    &.#{$eccgui}-intent--info > .#{$eccgui}-button:first-child {
        @extend .#{$ns}-intent-primary;
    }
    &.#{$eccgui}-intent--warning > .#{$eccgui}-button:first-child {
        @extend .#{$ns}-intent-warning;
    }
    &.#{$eccgui}-intent--danger > .#{$eccgui}-button:first-child {
        @extend .#{$ns}-intent-danger;
    }
}

.#{$eccgui}-card__actions--inversedirection {
    flex-direction: row-reverse;
}

.#{$eccgui}-card__actions__aux {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    order: 1000;
    margin: 0;

    & > * {
        margin: $eccgui-size-card-spacing * 0.25 0;
    }

    &:not(.#{$eccgui}-card__actions--inversedirection) > * {
        &:not(:first-child) {
            margin-left: $eccgui-size-card-spacing * 0.25;
        }

        &:not(:last-child) {
            margin-right: $eccgui-size-card-spacing * 0.25;
        }
    }

    &.#{$eccgui}-card__actions--inversedirection > * {
        &:not(:first-child) {
            margin-right: $eccgui-size-card-spacing * 0.25;
        }

        &:not(:last-child) {
            margin-left: $eccgui-size-card-spacing * 0.25;
        }
    }

    .#{$eccgui}-card__actions--inversedirection > & {
        justify-content: flex-start;
    }
}
