// own vars
$eccgui-size-tablecell-height-regular: mini-units(5) !default;
$eccgui-size-tablecell-padding-regular: ($eccgui-size-tablecell-height-regular - carbon--rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-height-compact: mini-units(4) !default;
$eccgui-size-tablecell-padding-compact: ($eccgui-size-tablecell-height-compact - carbon--rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-height-tall: mini-units(6) !default;
$eccgui-size-tablecell-padding-tall: ($eccgui-size-tablecell-height-tall - carbon--rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-font-weight: $eccgui-font-weight-regular !default;
$eccgui-size-tableheader-font-weight: $eccgui-font-weight-bold !default;

// lib vars
/* already defined */
// import libs
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-action';
@import "~carbon-components/scss/components/data-table/data-table-core";
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-expandable';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-sort';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-inline-edit';
// currently not needed @import '~carbon-components/scss/components/data-table/data-table-skeleton';

// changes
.#{$eccgui}-simpletable__container {
    min-width: unset;
}

.#{$prefix}--data-table {
    min-width: 100%;
}

.#{$prefix}--data-table thead {
    background-color: transparent;
    font-weight: $eccgui-size-tablecell-font-weight;
}

.#{$prefix}--data-table th {
    background-color: rgba($ui-03, alpha($ui-03) * $eccgui-opacity-muted);
    font-weight: $eccgui-size-tableheader-font-weight;
}

.#{$prefix}--data-table thead tr,
.#{$prefix}--data-table tbody tr,
.#{$prefix}--data-table tbody tr th {
    height: $eccgui-size-tablecell-height-regular;
}

.#{$prefix}--data-table .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-regular 0;
}

.#{$prefix}--data-table td,
.#{$prefix}--data-table tbody th {
    padding-top: $eccgui-size-tablecell-padding-regular * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-regular * 0.95;

    vertical-align: top;

    & + td:first-of-type {
        padding-left: $spacing-05;
    }
}

.#{$prefix}--data-table .#{$prefix}--table-column-menu,
.#{$prefix}--data-table .#{$prefix}--table-column-menu:last-of-type {
    width: auto;
    min-width: 0;
}

.#{$prefix}--data-table {
    thead th, tbody td, tbody th {
        padding-left: $eccgui-size-block-whitespace * 0.5;
        padding-right: $eccgui-size-block-whitespace * 0.5;
    }
}

// Compact

.#{$prefix}--data-table--compact thead tr,
.#{$prefix}--data-table--compact tbody tr,
.#{$prefix}--data-table--compact tbody tr th {
    height: $eccgui-size-tablecell-height-compact;
}

.#{$prefix}--data-table--compact .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-compact 0;
}

.#{$prefix}--data-table--compact td,
.#{$prefix}--data-table--compact tbody tr th {
    padding-top: $eccgui-size-tablecell-padding-compact * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-compact * 0.95;
}

// Tall

.#{$prefix}--data-table--tall thead tr,
.#{$prefix}--data-table--tall tbody tr,
.#{$prefix}--data-table--tall tbody tr th {
    height: $eccgui-size-tablecell-height-compact;
}

.#{$prefix}--data-table--tall .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-tall 0;
}

.#{$prefix}--data-table--tall td,
.#{$prefix}--data-table--tall tbody tr th {
    padding-top: $eccgui-size-tablecell-padding-tall * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-tall * 0.95;
}

// Sticky header

.#{$prefix}--data-table--sticky-header {
    thead tr th {
        // border-bottom-color: $active-ui;
    }

    tr {
        min-height: $eccgui-size-tablecell-height-regular;
    }
}
