.#{$eccgui}-icon {
    vertical-align: text-bottom;

    &.#{$eccgui}-intent--primary {
        color: $eccgui-color-primary;
    }
    &.#{$eccgui}-intent--accent {
        color: $eccgui-color-accent;
    }
    &.#{$eccgui}-intent--info {
        color: $eccgui-color-info-text;
    }
    &.#{$eccgui}-intent--success {
        color: $eccgui-color-success-text;
    }
    &.#{$eccgui}-intent--warning {
        color: $eccgui-color-warning-text;
    }
    &.#{$eccgui}-intent--danger {
        color: $eccgui-color-danger-text;
    }
}

svg.#{$eccgui}-icon {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: none;

    &:not([fill]) {
        fill: currentcolor;
    }
}

.#{$ns}-button .#{$eccgui}-icon:first-child {
    margin-left: -($pt-button-height - $pt-icon-size-standard) * 0.5;
}
.#{$ns}-button .#{$eccgui}-icon:last-child {
    margin-right: -($pt-button-height - $pt-icon-size-standard) * 0.5;
}

.#{$ns}-button .#{$eccgui}-icon:first-child:last-child,
.#{$ns}-button .#{$ns}-spinner + .#{$eccgui}-icon:last-child {
    margin: 0 (-($pt-button-height - $pt-icon-size-standard) * 0.5);
}

.#{$eccgui}-button--icon {
    & > * {
        margin-right: 0;
    }

    & > .#{$ns}-button-text {
        margin-left: -5px;
    }

    & > .#{$eccgui}-tooltip__wrapper + .#{$ns}-button-text {
        margin-left: 0;
    }
}

.#{$eccgui}-menu__item {
    .#{$eccgui}-button--icon,
    .#{$eccgui}-button--icon:not([class*="#{$ns}-intent-"]) {
        &,
        &:hover,
        &:focus,
        &:active {
            color: inherit;
        }
    }
}
