.#{$eccgui}-icon {
    vertical-align: text-bottom;

    &.#{$eccgui}-intent-info {
        color: $eccgui-color-info-text;
    }
    &.#{$eccgui}-intent-success {
        color: $eccgui-color-success-text;
    }
    &.#{$eccgui}-intent-warning {
        color: $eccgui-color-warning-text;
    }
    &.#{$eccgui}-intent-danger {
        color: $eccgui-color-danger-text;
    }
}

svg.#{$eccgui}-icon {
    max-width: none;

    &:not([fill]) {
        fill: currentColor;
    }
}

.#{$ns}-button .#{$eccgui}-icon:first-child:last-child,
.#{$ns}-button .#{$ns}-spinner + .#{$eccgui}-icon:last-child {
    margin: 0 (-($pt-button-height - $pt-icon-size-standard) / 2);
}
