@use "sass:color";

// own vars
$eccgui-color-codeeditor-background: $eccgui-color-textfield-background !default;

// adjustments
// stylelint-disable selector-class-pattern
.#{$eccgui}-codeeditor {
    position: relative;
    display: flex;
    max-width: 100%;

    [class^="cm-theme"] {
        width: 100%;
    }

    .cm-editor {
        width: 100%;
        height: 290px;
        clip-path: unset !important; // we may check later why they set inset(0) now
        background-color: $eccgui-color-codeeditor-background;
        border-radius: $pt-border-radius;

        // get them a "border" like input boxes from blueprintjs
        box-shadow: input-transition-shadow($input-shadow-color-focus), $pt-input-box-shadow;

        &.#{eccgui}-disabled {
            @extend .#{$ns}-input, .#{$ns}-disabled;

            height: 290px;
            padding: 0;
        }

        &[class*="#{$eccgui}-intent--"] {
            animation-duration: 1s;
            animation-delay: 0.5s;
        }

        @each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
            &.#{eccgui}-intent--#{$each-intent} {
                background-color: eccgui-color-mix($each-bgcolor 24%, $eccgui-color-textfield-background);
                animation-name: intent-state-flash-#{$each-intent};
            }
        }

        &.#{eccgui}-intent--warning {
            @include pt-input-intent($eccgui-color-warning-text);
        }

        &.#{eccgui}-intent--success {
            @include pt-input-intent($eccgui-color-success-text);
        }

        &.#{eccgui}-intent--danger {
            @include pt-input-intent($eccgui-color-danger-text);
        }

        &.#{eccgui}-intent--primary {
            @include pt-input-intent($eccgui-color-info-text);
        }

        &.#{eccgui}-intent--info {
            @include pt-input-intent($eccgui-color-info-text);
        }

        &.#{eccgui}-intent--accent {
            @include pt-input-intent($eccgui-color-primary);
        }

        &.#{eccgui}-intent--neutral {
            @include pt-input-intent($eccgui-color-workspace-text);
        }

        &.#{eccgui}-intent--edited {
            @include pt-input-intent($eccgui-color-info-text);
        }

        &.#{eccgui}-intent--removed {
            @include pt-input-intent($eccgui-color-danger-text);

            text-decoration: line-through $eccgui-color-danger-text 2px;
        }

        .cm-scroller {
            width: calc(100% - 2px);
            height: calc(100% - 2px);

            // fix size to prevent wrong calculation of other elements
            padding: 0;
            margin: 1px;
        }

        &.cm-focused {
            outline: none;
            box-shadow: input-transition-shadow($input-shadow-color-focus, true), $input-box-shadow-focus;

            &.#{eccgui}-intent--warning {
                box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--success {
                box-shadow: input-transition-shadow($eccgui-color-success-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--danger {
                box-shadow: input-transition-shadow($eccgui-color-danger-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--primary {
                box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--info {
                box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--accent {
                box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--neutral {
                box-shadow: input-transition-shadow($eccgui-color-workspace-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--edited {
                box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--removed {
                text-decoration: line-through $eccgui-color-danger-text 2px;
                box-shadow: input-transition-shadow($eccgui-color-danger-text, true), $input-box-shadow-focus;
            }
        }

        .CodeMirror-hscrollbar {
            bottom: 1px;
            height: $eccgui-size-inline-whitespace !important;
        }

        .CodeMirror-vscrollbar {
            top: 1px;
            right: 1px;
            width: $eccgui-size-inline-whitespace !important;
        }

        .CodeMirror-scrollbar-filler {
            right: 1px;
            bottom: 1px;
        }

        .cm-content {
            cursor: text;
            border-right-width: $eccgui-size-inline-whitespace !important;
        }

        .cm-tab {
            position: relative;

            // mark tabulator chars
            background-color: $eccgui-color-info-background;

            &::after {
                position: absolute;
                left: 10%;
                color: eccgui-color-rgba($eccgui-color-workspace-text, $eccgui-opacity-muted);
                content: "⇥";
            }
        }
    }
}

// cm-lineNumbers

.#{$prefix}--accordion__content {
    .cm-scroller,
    .cm-content,
    .cm-gutter,
    .cm-gutters,
    .cm-lineNumbers {
        box-sizing: content-box;
    }
}

// fix a few xq-light colors regarding bad contrasts

.cm-s-xq-light {
    // add other classes if necessary
    .cm-meta {
        filter: invert(1);
    }
}
// stylelint-enable selector-class-pattern
