@use "sass:color";

// own vars
$eccgui-color-codeeditor-background: $eccgui-color-textfield-background !default;
$eccgui-map-intent-bgcolors: (
    "primary": $eccgui-color-info-background,
    "success": $eccgui-color-success-background,
    "warning": $eccgui-color-warning-background,
    "danger": $eccgui-color-danger-background,
);

@mixin intent-state-flash-animation($state, $bgcolor, $mixratio: 24%) {
    @keyframes intent-state-flash-#{$state} {
        0% {
            background-color: color.mix($bgcolor, $eccgui-color-textfield-background, $mixratio);
        }

        39% {
            background-color: $bgcolor;
        }

        100% {
            background-color: color.mix($bgcolor, $eccgui-color-textfield-background, $mixratio);
        }
    }
}

@each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
    @include intent-state-flash-animation($each-intent, $each-bgcolor);
}

// adjustments
// stylelint-disable selector-class-pattern
.#{$eccgui}-codeeditor {
    position: relative;
    display: flex;
    max-width: 100%;

    [class^="cm-theme"] {
        width: 100%;
    }

    .cm-editor {
        width: 100%;
        height: 290px;
        clip-path: unset !important; // we may check later why they set inset(0) now
        background-color: $eccgui-color-codeeditor-background;
        border-radius: $pt-border-radius;

        // get them a "border" like input boxes from blueprintjs
        box-shadow: input-transition-shadow($input-shadow-color-focus), $pt-input-box-shadow;

        &.#{eccgui}-disabled {
            color: $eccgui-color-workspace-text;
            background-color: $ecgui-color-background-disabled;
            opacity: $eccgui-opacity-disabled;
        }

        @each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
            &.#{eccgui}-intent--#{$each-intent} {
                background-color: color.mix($each-bgcolor, $eccgui-color-textfield-background, 24%);
                animation-name: intent-state-flash-#{$each-intent};
                animation-duration: 1s;
                animation-delay: 0.5s;
            }
        }

        &.#{eccgui}-intent--warning {
            box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--success {
            box-shadow: input-transition-shadow($eccgui-color-success-text, true), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent-danger {
            box-shadow: input-transition-shadow($eccgui-color-danger-text, true), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--primary {
            box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--info {
            box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;

            @include pt-input-intent($eccgui-color-info-text);
        }

        &.#{eccgui}-intent--accent {
            @include pt-input-intent($eccgui-color-primary);

            box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--neutral {
            @include pt-input-intent($eccgui-color-workspace-text);

            box-shadow: input-transition-shadow($eccgui-color-workspace-text), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--edited {
            @include pt-input-intent($eccgui-color-info-text);

            box-shadow: input-transition-shadow($eccgui-color-info-text), $input-box-shadow-focus;
        }

        &.#{eccgui}-intent--removed {
            @include pt-input-intent($eccgui-color-danger-text);

            text-decoration: line-through $eccgui-color-danger-text 2px;
            box-shadow: input-transition-shadow($eccgui-color-danger-text), $input-box-shadow-focus;
        }

        .cm-scroller {
            width: calc(100% - 2px);
            height: calc(100% - 2px);

            // fix size to prevent wrong calculation of other elements
            padding: 0;
            margin: 1px;
        }

        &.cm-focused {
            outline: none;
            box-shadow: input-transition-shadow($input-shadow-color-focus, true), $input-box-shadow-focus;

            &.#{eccgui}-intent--warning {
                box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--success {
                box-shadow: input-transition-shadow($eccgui-color-success-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--danger {
                box-shadow: input-transition-shadow($eccgui-color-danger-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--primary {
                box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--info {
                box-shadow: input-transition-shadow($eccgui-color-info-text, true), $input-box-shadow-focus;

                @include pt-input-intent($eccgui-color-info-text);
            }

            &.#{eccgui}-intent--accent {
                @include pt-input-intent($eccgui-color-primary);

                box-shadow: input-transition-shadow($eccgui-color-warning-text, true), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--neutral {
                @include pt-input-intent($eccgui-color-workspace-text);

                box-shadow: input-transition-shadow($eccgui-color-workspace-text), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--edited {
                @include pt-input-intent($eccgui-color-info-text);

                box-shadow: input-transition-shadow($eccgui-color-info-text), $input-box-shadow-focus;
            }

            &.#{eccgui}-intent--removed {
                @include pt-input-intent($eccgui-color-danger-text);

                text-decoration: line-through $eccgui-color-danger-text 2px;
                box-shadow: input-transition-shadow($eccgui-color-danger-text), $input-box-shadow-focus;
            }
        }

        .CodeMirror-hscrollbar {
            bottom: 1px;
            height: $eccgui-size-inline-whitespace !important;
        }

        .CodeMirror-vscrollbar {
            top: 1px;
            right: 1px;
            width: $eccgui-size-inline-whitespace !important;
        }

        .CodeMirror-scrollbar-filler {
            right: 1px;
            bottom: 1px;
        }

        .cm-content {
            cursor: text;
            border-right-width: $eccgui-size-inline-whitespace !important;
        }

        .cm-tab {
            position: relative;

            // mark tabulator chars
            background-color: $eccgui-color-info-background;

            &::after {
                position: absolute;
                left: 10%;
                color: rgba($eccgui-color-workspace-text, $eccgui-opacity-muted);
                content: "⇥";
            }
        }
    }
}

// cm-lineNumbers

.#{$prefix}--accordion__content {
    .cm-scroller,
    .cm-content,
    .cm-gutter,
    .cm-gutters,
    .cm-lineNumbers {
        box-sizing: content-box;
    }
}

// fix a few xq-light colors regarding bad contrasts

.cm-s-xq-light {
    // add other classes if necessary
    .cm-meta {
        filter: invert(1);
    }
}
// stylelint-enable selector-class-pattern
