@use "sass:math";

// Stack of BlueprintJS variables that are necessary to use their framework
// calculate them from own configuration variables here
// see blueprint import for variables that need to be overwritten with other values

$icon-font-path: "~@blueprintjs/icons/resources/icons" !default;

// Color aliases

$pt-intent-primary: $eccgui-color-accent !default;
$pt-intent-success: $eccgui-color-success-text !default;
$pt-intent-warning: $eccgui-color-warning-text !default;
$pt-intent-danger: $eccgui-color-danger-text !default;
$pt-outline-color: eccgui-color-rgba($eccgui-color-accent, 0.6);
$pt-text-color: $eccgui-color-workspace-text !default;

// Size aliases

// easily the most important variable, so it comes up top
// (so other variables can use it to define themselves)
$pt-grid-size: math.div($eccgui-size-typo-text, 1.4) !default;
$pt-font-family: $eccgui-font-family-default !default;
$pt-font-family-monospace: $eccgui-font-family-monospace !default;
$pt-font-size: $eccgui-size-typo-text !default;
$pt-font-size-large: $eccgui-size-typo-subtitle !default;
$pt-font-size-small: $eccgui-size-typo-caption !default;
$pt-line-height: $eccgui-size-typo-text-lineheight !default;
$pt-icon-size-standard: 20px !default;
$pt-icon-size-large: 32px !default;
