.react-flow__minimap {
    border: solid 1px $eccgui-color-separation-divider;

    & > svg {
        display: block;
    }
}

.react-flow__minimap-mask {
    fill: rgba($eccgui-color-workspace-background, $eccgui-opacity-muted);
}

.#{$eccgui}-graphviz__minimap__node--default {
    &:not([fill]) {
        fill: $reactflow-node-background-color;
    }

    &:not([stroke]) {
        stroke: $reactflow-node-border-color;
    }
}

.react-flow__minimap-node {
    // FIXME: this is a first basic implementation, later it should be possible to highlight without overwriting stroke/fill colors

    &[class*="#{$eccgui}-intent--"] {
        stroke-width: 20;
    }

    &.#{$eccgui}-intent--success {
        stroke: $eccgui-color-success-text;
    }
    &.#{$eccgui}-intent--warning {
        stroke: $eccgui-color-warning-text;
    }
    &.#{$eccgui}-intent--danger {
        fill: $eccgui-color-danger-text !important;
        stroke: $eccgui-color-danger-text;
    }
}
