[data-footnote-ref="true"] {
    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }

    margin-left: $eccgui-size-inline-whitespace * 0.5;
    font-size: $eccgui-size-typo-caption;
    vertical-align: super;
}

.data-footnote-backref {
    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }

    margin-left: 0.5 * $eccgui-size-inline-whitespace;
}

#footnote-label {
    @extend hr;
    @extend .#{$eccgui}-separation__divider-horizontal;
    @extend .#{$eccgui}-separation__spacing--medium;
    @extend .#{$eccgui}-separation__divider-horizontal--short;

    overflow: hidden;
}

.task-list-item {
    list-style: none;

    input:first-child {
        margin-left: $eccgui-size-block-whitespace * -2;
    }
}

/*
    WORKAROUND: markdown footnotes rendered without (empty) local anchors
*/

.#{$eccgui}-typography__contentblock {
    a[href=""] {
        font-size: $eccgui-size-typo-caption;
        line-height: $eccgui-size-typo-caption-lineheight;
        color: currentcolor;
        text-decoration: none;
        vertical-align: super;
        pointer-events: none;
        cursor: text;

        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }
}
