[data-footnote-ref=true] {
    &::before {
        content: "[";
    }
    &::after {
        content: "]";
    }

    vertical-align: super;
    font-size: $eccgui-size-typo-caption;
    margin-left: $eccgui-size-inline-whitespace * 0.5;
}

.data-footnote-backref {
    &::before {
        content: "[";
    }
    &::after {
        content: "]";
    }

    margin-left: 0.5 * $eccgui-size-inline-whitespace;
}

#footnote-label {
    @extend hr;
    @extend .#{$eccgui}-separation__divider-horizontal;
    @extend .#{$eccgui}-separation__spacing--medium;
    @extend .#{$eccgui}-separation__divider-horizontal--short;
    overflow: hidden;
}

.task-list-item {
    list-style: none;

    input:first-child {
        margin-left: $eccgui-size-block-whitespace * -2;
    }
}
