.#{$eccgui}-visual-tour {
    opacity: 1;

    --#{$eccgui}-visual-tour-focus-padding: #{0.5 * $eccgui-size-block-whitespace};
}

.#{$eccgui}-visual-tour__highlighted-element {
    position: relative;
    z-index: 999999 !important;
}

.#{$eccgui}-visual-tour__focushelper {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid $eccgui-color-accent;
    border-radius: var(--#{$eccgui}-visual-tour-focus-padding);
    box-shadow: 0 0 0 10000px $eccgui-color-modal-backdrop;
}

.#{$eccgui}-visual-tour__backdrop {
    position: fixed;
    inset: 0;
    box-sizing: content-box;
    opacity: 0;
}

.#{$eccgui}-visual-tour__arrow {
    &::before {
        background: $card-background-color;
    }

    .#{$eccgui}-visual-tour__overlay[data-popper-placement="top"] & {
        bottom: -0.5 * $eccgui-size-block-whitespace;
    }
    .#{$eccgui}-visual-tour__overlay[data-popper-placement="right"] & {
        left: -0.5 * $eccgui-size-block-whitespace;
    }
    .#{$eccgui}-visual-tour__overlay[data-popper-placement="bottom"] & {
        top: -0.5 * $eccgui-size-block-whitespace;
    }
    .#{$eccgui}-visual-tour__overlay[data-popper-placement="left"] & {
        right: -0.5 * $eccgui-size-block-whitespace;
    }
}

.#{$eccgui}-visual-tour__overlay {
    &--small {
        @extend .#{$eccgui}-tooltip--small;
    }

    &--medium {
        @extend .#{$eccgui}-tooltip--medium;
    }

    &--large {
        @extend .#{$eccgui}-tooltip--large;
    }
}
