$reactflow-background-color: $card-background-color !default;
$reactflow-node-basesize: $button-height !default;
$reactflow-node-largesize: mini-units(6) !default;
$reactflow-node-border-color: #{eccgui-color-var("identity", "text", "700")} !default;
$reactflow-node-background-color: #{eccgui-color-var("layout", "grey", "100")} !default;
$reactflow-node-color: $eccgui-color-workspace-text !default;
$reactflow-node-font-size: $eccgui-size-typo-caption !default;
$reactflow-node-border-width: 2 * $button-border-width !default;
$reactflow-node-border-radius: $button-border-radius !default;
$reactflow-edge-rendering: geometricprecision !default;
$reactflow-edge-stroke-width-default: 2px !default;
$reactflow-edge-stroke-width-hover: 2px !default;
$reactflow-edge-stroke-width-selected: 2px !default;
$reactflow-edge-stroke-opacity-default: $eccgui-opacity-muted !default;
$reactflow-edge-stroke-opacity-hover: $eccgui-opacity-narrow !default;
$reactflow-edge-stroke-opacity-selected: $eccgui-opacity-regular !default;
$reactflow-edge-stroke-opacity-interaction-ratio: $eccgui-opacity-ghostly !default;
$reactflow-edge-stroke-color-default: #{eccgui-color-var("identity", "text", "700")} !default;
$reactflow-edge-stroke-color-hover: $reactflow-edge-stroke-color-default !default;
$reactflow-edge-stroke-color-selected: $eccgui-color-accent !default;
$reactflow-transition-time: 0.25s !default;
$reactflow-transition-function: "" !default;
$reactflow-transition-anglestart: -90deg;
$reactflow-cursor-delimiter-offset: 0.9 * $eccgui-size-block-whitespace;
