$reactflow-background-color: $card-background-color !default;
$reactflow-node-basesize: $button-height !default;
$reactflow-node-largesize: mini-units(6) !default;
$reactflow-node-border-color: $eccgui-color-workspace-text !default;
$reactflow-node-background-color: $button-background-color !default;
$reactflow-node-color: $eccgui-color-workspace-text !default;
$reactflow-node-font-size: $eccgui-size-typo-caption !default;
$reactflow-node-border-width: 2 * $button-border-width !default;
$reactflow-node-border-radius: $button-border-radius !default;
$reactflow-edge-stroke-opacity-default: 0.6 !default;
$reactflow-edge-stroke-opacity-hover: 0.8 !default;
$reactflow-edge-stroke-opacity-selected: 1 !default;
$reactflow-edge-stroke-color-default: $eccgui-color-workspace-text !default;
$reactflow-edge-stroke-color-hover: $eccgui-color-workspace-text !default;
$reactflow-edge-stroke-color-selected: $eccgui-color-accent !default;
$reactflow-transition-time: 0.25s !default;
$reactflow-transition-function: "" !default;
$reactflow-transition-anglestart: -90deg;
$reactflow-cursor-delimiter-offset: 0.9 * $eccgui-size-block-whitespace;
