.#{$prefix}--assistive-text,
.#{$prefix}--visually-hidden {
    /*
        originally from ~@carbon/styles/scss/css--helpers
        but we cannot use it directly because of other included rules there.
    */
    position: absolute;
    visibility: inherit;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip-path: rect(0, 0, 0, 0);
}

/*
    default focus indicator
*/

:root {
    --#{$eccgui}-a11y-outline-color: #{eccgui-color-var("layout", "magenta", "900")};
    --#{$eccgui}-a11y-outline-style: solid;
    --#{$eccgui}-a11y-outline-width: #{0.25 * $eccgui-size-block-whitespace};

    // shift outline min 2px inside element to have a minimum 2px outline even with hidden overflow
    --#{$eccgui}-a11y-outline-offset: min(calc(var(--#{$eccgui}-a11y-outline-width) * -0.5), -2px);
}

@keyframes outline-bounce {
    0% {
        outline-width: calc(var(--#{$eccgui}-a11y-outline-width) * 0.5);
        outline-color: var(--#{$eccgui}-a11y-outline-color);
        outline-offset: var(--#{$eccgui}-a11y-outline-offset);
    }

    33.3% {
        outline-color: var(--#{$eccgui}-a11y-outline-color);
        outline-offset: calc(var(--#{$eccgui}-a11y-outline-width));
    }

    66.6% {
        outline-color: currentcolor;
        outline-offset: calc(var(--#{$eccgui}-a11y-outline-width) * -2);
    }

    100% {
        outline-width: var(--#{$eccgui}-a11y-outline-width);
        outline-color: var(--#{$eccgui}-a11y-outline-color);
        outline-offset: var(--#{$eccgui}-a11y-outline-offset);
    }
}

@mixin focus-by-keyboard-static {
    // strong visual focus indication for keyboard devices

    outline: var(--#{$eccgui}-a11y-outline-color) var(--#{$eccgui}-a11y-outline-style)
        var(--#{$eccgui}-a11y-outline-width);
    outline-offset: var(--#{$eccgui}-a11y-outline-offset);
}

@mixin focus-by-keyboard-animation {
    @media (prefers-reduced-motion: no-preference) {
        animation: outline-bounce 0.5s;
    }
}

.focus-by-keyboard-animated {
    @include focus-by-keyboard-static;
    @include focus-by-keyboard-animation;
}

.focus-by-keyboard-static {
    @include focus-by-keyboard-static;

    animation: none;
}

@mixin focus-by-pointer {
    // limited visual focus indication for pointer devices

    outline: transparent none 0;
    outline-offset: 0;
}

.focus-by-pointer {
    @include focus-by-pointer;
}

*[tabindex]:not([tabindex^="-"]):focus-visible,
:focus-visible {
    @extend .focus-by-keyboard-animated;
}

input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
:focus:not(:focus-visible) {
    @extend .focus-by-pointer;
}
