div.react-flow__handle {
    color: $reactflow-node-border-color;
    background-color: currentColor;
    border-color: currentColor;
    width: $eccgui-size-block-whitespace * 0.5;
    height: $eccgui-size-block-whitespace * 0.5;
    z-index: 2;
    border-radius: 100%;

    .react-flow__node-default & {
        background-color: currentColor;
    }

    &:before {
        content: " ";
        position: absolute;
        //width: $eccgui-size-block-whitespace;
        //height: $eccgui-size-block-whitespace;
        top: $eccgui-size-block-whitespace * -0.5;
        left: $eccgui-size-block-whitespace * -0.5;
        bottom: $eccgui-size-block-whitespace * -0.5;
        right: $eccgui-size-block-whitespace * -0.5;
        opacity: 0.61;
        display: none;
        background-color: currentColor;
        border: solid 1px currentColor;
        border-radius: 100%;
    }

    &:hover {
        &:before {
            box-shadow: 0 0 $eccgui-size-block-whitespace * 0.5 $eccgui-size-block-whitespace * 0.25 currentColor;
        }
    }

    &.#{eccgui}-graphviz__handle--highlight-configuration {
        border-radius: 0;

        &:before {
            border-radius: 0;
        }
    }

    .react-flow__node:hover &.connectable {
        &:before {
            display: block;
        }
    }

    &.react-flow__handle-connecting:hover, &.invalid-handle {
        color: $eccgui-color-danger-text;
        &:before {
            display: block;
        }
    }

    &.react-flow__handle-valid:hover, &.valid-handle {
        color: $eccgui-color-success-text;
    }
}

.#{$eccgui}-graphviz__handle__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: help;
    overflow: hidden;
}

div.react-flow__handle-right {
    right: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(-50%);
}

div.react-flow__handle-left {
    left: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(50%) translateY(-50%);
}

div.react-flow__handle-top {
    top: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(50%);
}

div.react-flow__handle-bottom {
    bottom: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(-50%);
}

.#{$eccgui}-graphviz__node--minimal-rectangular,
.#{$eccgui}-graphviz__node--minimal-circular {
    .react-flow__node:not(.selected) & {
        & ~ .react-flow__handle {
            top: 50%;
            left: $reactflow-node-basesize * 0.5;
            right: auto;
            bottom: auto;
            transform: translateX(-50%) translateY(-50%);
            z-index: 0;
            opacity: 0;
            height: $reactflow-node-basesize;
            width: $reactflow-node-basesize;
        }
    }

    & ~ .react-flow__handle:not(.connectable) {
        top: 50%;
        left: $reactflow-node-basesize * 0.5;
        right: auto;
        bottom: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: 0;
        opacity: 0;
        height: $reactflow-node-basesize;
        width: $reactflow-node-basesize;
    }
}

.#{$eccgui}-graphviz__node--minimal-rectangular {
    .react-flow__node:not(.selected) & {
        & ~ .react-flow__handle {
            border-radius: $reactflow-node-border-radius;
        }
    }

    & ~ .react-flow__handle:not(.connectable) {
        border-radius: $reactflow-node-border-radius;
    }
}

.#{$eccgui}-graphviz__node--hidehandles {
    & ~ .react-flow__handle:not(.connectable) {
        height: 1px;
        width: 1px;
        visibility: hidden;
        border: none;
        z-index: -1;

        &.react-flow__handle-top {
            top: 0;
        }
        &.react-flow__handle-right {
            right: 0;
        }
        &.react-flow__handle-bottom {
            bottom: 0;
        }
        &.react-flow__handle-left {
            left: 0;
        }
    }
}
