div.react-flow__handle {
    z-index: 2;
    width: $eccgui-size-block-whitespace * 0.5;
    height: $eccgui-size-block-whitespace * 0.5;
    color: $reactflow-node-border-color;
    background-color: currentcolor;
    border-color: currentcolor;
    border-radius: 100%;

    .react-flow__node-default & {
        background-color: currentcolor;
    }

    &::before {
        position: absolute;
        inset: $eccgui-size-block-whitespace * -0.5;
        z-index: 1;
        display: none;
        content: " ";
        background-color: currentcolor;
        border: solid 1px currentcolor;
        border-radius: 100%;
        opacity: 0.61;
    }

    &.clickable {
        &::after {
            position: absolute;
            inset: $eccgui-size-block-whitespace * -0.75;
            z-index: -1;
            display: none;
            cursor: pointer;
            content: " ";
            border-radius: 100%;
            outline: dotted $eccgui-size-block-whitespace * 0.25 currentcolor;
        }
    }

    &:hover {
        &::before {
            box-shadow: 0 0 $eccgui-size-block-whitespace * 0.5 $eccgui-size-block-whitespace * 0.25 currentcolor;
        }
    }

    &.#{eccgui}-graphviz__handle--highlight-configuration {
        border-radius: 0;

        &::before {
            border-radius: 0;
        }
    }

    .react-flow__node:hover &.connectable {
        &::before {
            display: block;
        }
    }

    .react-flow__node:hover &.clickable {
        &::after {
            display: block;
        }
    }

    &.react-flow__handle-connecting:hover,
    &.invalid-handle {
        color: $eccgui-color-danger-text;

        &::before {
            display: block;
        }
    }

    &.react-flow__handle-valid:hover,
    &.valid-handle {
        color: $eccgui-color-success-text;
    }
}

.#{$eccgui}-graphviz__handle__content {
    position: absolute;
    inset: 0;
    overflow: hidden;
    cursor: help;
}

div.react-flow__handle-right {
    right: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(-50%);
}

div.react-flow__handle-left {
    left: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(50%) translateY(-50%);
}

div.react-flow__handle-top {
    top: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(50%);
}

div.react-flow__handle-bottom {
    bottom: -1 * $eccgui-size-block-whitespace * 0.5;
    transform: translateX(-50%) translateY(-50%);
}

.#{$eccgui}-graphviz__node--minimal-rectangular,
.#{$eccgui}-graphviz__node--minimal-circular {
    .react-flow__node:not(.selected) & {
        & ~ .react-flow__handle {
            inset: 50% auto auto $reactflow-node-basesize * 0.5;
            z-index: 0;
            width: $reactflow-node-basesize;
            height: $reactflow-node-basesize;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    & ~ .react-flow__handle:not(.connectable) {
        inset: 50% auto auto $reactflow-node-basesize * 0.5;
        z-index: 0;
        width: $reactflow-node-basesize;
        height: $reactflow-node-basesize;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }
}

.#{$eccgui}-graphviz__node--minimal-rectangular {
    .react-flow__node:not(.selected) & {
        & ~ .react-flow__handle {
            border-radius: $reactflow-node-border-radius;
        }
    }

    & ~ .react-flow__handle:not(.connectable) {
        border-radius: $reactflow-node-border-radius;
    }
}

.#{$eccgui}-graphviz__node--hidehandles {
    & ~ .react-flow__handle:not(.connectable) {
        z-index: -1;
        width: 1px;
        height: 1px;
        visibility: hidden;
        border: none;

        &.react-flow__handle-top {
            top: 0;
        }

        &.react-flow__handle-right {
            right: 0;
        }

        &.react-flow__handle-bottom {
            bottom: 0;
        }

        &.react-flow__handle-left {
            left: 0;
        }
    }
}

.#{$eccgui}-graphviz__handletools-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
