/*
$pt-popover2-background-color: $white !default;
$pt-dark-popover2-background-color: $dark-gray4 !default;
*/

@import "~@blueprintjs/popover2/src/popover2";

.#{$ns}-popover2-content {
    max-width: 100%;
}

.#{$ns}-popover2-target {
    cursor: pointer;
    max-width: 100%;
}

.bp4-submenu.bp4-popover > .bp4-popover-content {
    // fix for submenu items in overlays/popovers
    background-color: $pt-popover2-background-color;
}
