/*
$pt-popover2-background-color: $white !default;
$pt-dark-popover2-background-color: $dark-gray4 !default;
*/

@import "~@blueprintjs/popover2/src/popover2";

.#{$ns}-popover2-content {
    max-width: 100%;
}

.#{$ns}-popover2-target {
    cursor: pointer;
    max-width: 100%;
}

.#{$ns}-submenu.#{$ns}-popover > .#{$ns}-popover-content {
    // fix for submenu items in overlays/popovers
    background-color: $pt-popover2-background-color;
}

.#{$ns}-overlay-start-focus-trap,
.#{$ns}-overlay-end-focus-trap {
    &:focus-visible {
        outline: none;
    }
}
