// our vars
$eccgui-size-modal-tiny-width: 4/16 * 100vw !default;
$eccgui-size-modal-tiny-height: 1/9 * 100vh !default;
$eccgui-size-modal-small-width: 6/16 * 100vw !default;
$eccgui-size-modal-small-height: 2/9 * 100vh !default;
$eccgui-size-modal-regular-width: 6/16 * 100vw !default;
$eccgui-size-modal-regular-height: 3/9 * 100vh !default;
$eccgui-size-modal-large-width: 8/16 * 100vw !default;
$eccgui-size-modal-large-height: 6/9 * 100vh !default;
$eccgui-color-modal-backdrop: rgba(invert($eccgui-color-workspace-background), 0.69) !default;

@import "~@blueprintjs/core/src/components/dialog/dialog";

.ecc-dialog__backdrop {
    background-color: $eccgui-color-modal-backdrop;
}

.ecc-dialog__wrapper {
    margin: 2rem;
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    pointer-events: all;
    user-select: text;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    & > * {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
    }

    & * {
        pointer-events: all;
    }
}

.ecc-dialog__wrapper--tiny {
    width: $eccgui-size-modal-tiny-width;
    min-height: $eccgui-size-modal-tiny-height;
}

.ecc-dialog__wrapper--small {
    width: $eccgui-size-modal-small-width;
    min-height: $eccgui-size-modal-small-height;
}

.ecc-dialog__wrapper--regular {
    width: $eccgui-size-modal-regular-width;
    min-height: $eccgui-size-modal-regular-height;
}

.ecc-dialog__wrapper--large {
    width: $eccgui-size-modal-large-width;
    min-height: $eccgui-size-modal-large-height;
}

.ecc-dialog__wrapper--fullscreen {
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

.ecc-dialog__notifications {
    &.ecc-card__content {
        flex-grow: 0;
        flex-shrink: 0;
    }
}
