// own vars
$eccgui-size-textfield-height-small: $eccgui-size-block-whitespace * 2 !default;
$eccgui-size-textfield-height-regular: $eccgui-size-textfield-height-small * $eccgui-size-type-levelratio !default;
$eccgui-size-textfield-height-large: $eccgui-size-textfield-height-regular * $eccgui-size-type-levelratio *
    $eccgui-size-type-levelratio !default;
$eccgui-size-textfield-padding-horizontal-regular: $eccgui-size-inline-whitespace !default;
$eccgui-size-textfield-padding-horizontal-small: $eccgui-size-inline-whitespace / 2 !default;
$eccgui-typo-textfield-fontweight: $eccgui-font-weight-regular !default;
$eccgui-color-textfield-text: $eccgui-color-application-text !default;
$eccgui-color-textfield-background: white !default; // TODO define global var for it
// lib vars
$pt-input-height: $eccgui-size-textfield-height-regular; // !default;
$pt-input-height-large: $eccgui-size-textfield-height-large; // !default;
$pt-input-height-small: $eccgui-size-textfield-height-small; // !default;
$input-padding-horizontal: $eccgui-size-textfield-padding-horizontal-regular; // !default;
$input-small-padding: $eccgui-size-textfield-padding-horizontal-small; // !default;
$input-font-weight: $eccgui-typo-textfield-fontweight; // !default;
// $input-transition: box-shadow $pt-transition-duration $pt-transition-ease;
$input-color: $eccgui-color-textfield-text; // !default;
$input-color-disabled: rgba($eccgui-color-textfield-text, 0.39); // !default;
$input-placeholder-color: rgba($eccgui-color-textfield-text, 0.61); // !default;
$input-background-color: $eccgui-color-textfield-background; // !default;
// $input-background-color-disabled: rgba($light-gray1, 0.5) !default;
// $input-shadow-color-focus: $pt-intent-primary !default;
// $pt-input-box-shadow: inset border-shadow(0.15), inset 0 1px 1px rgba($black, $pt-drop-shadow-opacity) !default;
// $input-box-shadow-focus: inset 0 1px 1px rgba($black, $pt-drop-shadow-opacity) !default;
$input-button-height: $eccgui-size-textfield-height-regular / $eccgui-size-type-levelratio; // !default;
$input-button-height-large: $eccgui-size-textfield-height-large / $eccgui-size-type-levelratio; // !default;
$input-button-height-small: $eccgui-size-textfield-height-small / $eccgui-size-type-levelratio; // !default;
// lib includes
@import "~@blueprintjs/core/src/components/forms/input-group";
@import "~@blueprintjs/core/src/components/forms/input";

// enhancements

.ecc-textarea {
    width: 100%;
}

.ecc-textfield--justifyclearance {
    input[type="search"]::-ms-clear,
    input[type="search"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}
