@use "sass:math";
@use "sass:color";

// own vars
$eccgui-size-textfield-height-small: $eccgui-size-block-whitespace * 2 !default;
$eccgui-size-textfield-height-regular: $eccgui-size-textfield-height-small * $eccgui-size-type-levelratio !default;
$eccgui-size-textfield-height-large: $eccgui-size-textfield-height-regular * $eccgui-size-type-levelratio *
    $eccgui-size-type-levelratio !default;
$eccgui-size-textfield-padding-horizontal-regular: $eccgui-size-inline-whitespace !default;
$eccgui-size-textfield-padding-horizontal-small: $eccgui-size-inline-whitespace * 0.5 !default;
$eccgui-typo-textfield-fontweight: $eccgui-font-weight-regular !default;
$eccgui-color-textfield-text: $eccgui-color-application-text !default;
$eccgui-color-textfield-background: white !default; // TODO define global var for it
// lib vars
$pt-input-height: $eccgui-size-textfield-height-regular; // !default;
$pt-input-height-large: $eccgui-size-textfield-height-large; // !default;
$pt-input-height-small: $eccgui-size-textfield-height-small; // !default;
$input-padding-horizontal: $eccgui-size-textfield-padding-horizontal-regular; // !default;
$input-small-padding: $eccgui-size-textfield-padding-horizontal-small; // !default;
$input-font-weight: $eccgui-typo-textfield-fontweight; // !default;
// $input-transition: box-shadow $pt-transition-duration $pt-transition-ease;
$input-color: $eccgui-color-textfield-text; // !default;
$input-color-disabled: rgba($eccgui-color-textfield-text, 0.39); // !default;
$input-placeholder-color: rgba($eccgui-color-textfield-text, 0.61); // !default;
$input-background-color: $eccgui-color-textfield-background; // !default;
// $input-background-color-disabled: rgba($light-gray1, 0.5) !default;
// $input-shadow-color-focus: $pt-intent-primary !default;
// $pt-input-box-shadow: inset border-shadow(0.15), inset 0 1px 1px rgba($black, $pt-drop-shadow-opacity) !default;
// $input-box-shadow-focus: inset 0 1px 1px rgba($black, $pt-drop-shadow-opacity) !default;
$input-button-height: math.div($eccgui-size-textfield-height-regular, $eccgui-size-type-levelratio); // !default;
$input-button-height-large: math.div($eccgui-size-textfield-height-large, $eccgui-size-type-levelratio); // !default;
$input-button-height-small: math.div($eccgui-size-textfield-height-small, $eccgui-size-type-levelratio); // !default;
// lib includes
@import "~@blueprintjs/core/src/components/forms/input-group";
@import "~@blueprintjs/core/src/components/forms/input";

// fixes

.#{$ns}-input-group {
    // fix for z-index rule of input group left icon
    z-index: 0;

    // fix for correct fill/fullWidth option
    display: inline-block;
    &.#{$ns}-fill {
        display: block;
    }

    .#{$ns}-input-action {
        // right element need to be adjusted for cases when there are no button with the same hight like the input
        height: 100%;
        max-height: $input-button-height-large;

        & > .#{eccgui}-icon {
            display: inline-flex;
            height: 100%;
            margin: 0 0.5 * $eccgui-size-block-whitespace;
        }
    }
}

// enhancements

$eccgui-map-intent-bgcolors: (
    "primary": $eccgui-color-info-background,
    "success": $eccgui-color-success-background,
    "warning": $eccgui-color-warning-background,
    "danger": $eccgui-color-danger-background,
);

@mixin intent-state-flash-animation($state, $bgcolor, $mixratio: 24%) {
    @keyframes intent-state-flash-#{$state} {
        0% {
            background-color: eccgui-color-var("semantic", $state, "100");
        }

        39% {
            background-color: eccgui-color-var("semantic", $state, "300");
        }

        100% {
            background-color: eccgui-color-var("semantic", $state, "100");
        }
    }
}

@each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
    @include intent-state-flash-animation($each-intent, $each-bgcolor);
}

.#{$ns}-input {
    .#{$ns}-input-group[class*="#{$eccgui}-intent--"] & {
        animation-duration: 1s;
        animation-delay: 0.5s;
    }

    @each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
        .#{$ns}-input-group.#{$ns}-intent-#{$each-intent} & {
            background-color: eccgui-color-var("semantic", $each-intent, "100");
            animation-name: intent-state-flash-#{$each-intent};
        }
    }

    .#{$ns}-input-group.#{$eccgui}-intent--info & {
        @include pt-input-intent($eccgui-color-info-text);
    }

    .#{$ns}-input-group.#{$eccgui}-intent--accent & {
        @include pt-input-intent($eccgui-color-primary);
    }

    .#{$ns}-input-group.#{$eccgui}-intent--neutral & {
        @include pt-input-intent($eccgui-color-workspace-text);
    }

    .#{$ns}-input-group.#{$eccgui}-intent--edited & {
        @include pt-input-intent($eccgui-color-info-text);

        color: $eccgui-color-info-text;
    }

    .#{$ns}-input-group.#{$eccgui}-intent--removed & {
        @include pt-input-intent($eccgui-color-danger-text);

        text-decoration: line-through $eccgui-color-danger-text 2px;
    }
}

.#{$eccgui}-textarea {
    width: 100%;

    &[class*="#{$eccgui}-intent--"] {
        animation-duration: 1s;
        animation-delay: 0.5s;
    }

    @each $each-intent, $each-bgcolor in $eccgui-map-intent-bgcolors {
        &.#{$eccgui}-intent--#{$each-intent} {
            background-color: eccgui-color-var("semantic", $each-intent, "100");
            animation-name: intent-state-flash-#{$each-intent};
        }
    }

    &.#{$eccgui}-intent--info {
        @include pt-input-intent($eccgui-color-info-text);
    }

    &.#{$eccgui}-intent--accent {
        @include pt-input-intent($eccgui-color-primary);
    }

    &.#{$eccgui}-intent--neutral {
        @include pt-input-intent($eccgui-color-workspace-text);
    }

    &.#{$eccgui}-intent--edited {
        @include pt-input-intent($eccgui-color-info-text);

        color: $eccgui-color-info-text;
    }

    &.#{$eccgui}-intent--removed {
        @include pt-input-intent($eccgui-color-danger-text);

        text-decoration: line-through $eccgui-color-danger-text 2px;
    }

    &.#{$ns}-text-area-auto-resize {
        height: unset;
    }
}

.#{$eccgui}-textarea__wrapper {
    position: relative;
}

.#{$eccgui}-textarea__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.#{$eccgui}-textarea__options {
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale(1);

    &:hover,
    .#{$eccgui}-textarea:focus ~ & {
        filter: none;
    }

    & > .#{$eccgui}-button--icon {
        margin-top: -1 * $eccgui-size-textfield-padding-horizontal-regular;

        &:last-of-type {
            margin-right: -1 * $eccgui-size-textfield-padding-horizontal-regular;
        }
    }

    .#{$ns}-input.#{$ns}-small ~ & > .#{$eccgui}-button--icon {
        margin-top: -1 * $eccgui-size-textfield-padding-horizontal-small;

        &:last-of-type {
            margin-right: -1 * $eccgui-size-textfield-padding-horizontal-small;
        }
    }
}

.#{$eccgui}-textfield--justifyclearance {
    input[type="search"]::-ms-clear,
    input[type="search"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        appearance: none;
    }
}
