// import libs
@use "~@carbon/styles/scss/components/data-table/data-table";
// currently not needed @import "~@carbon/styles/scss/components/data-table/action";
@use "~@carbon/styles/scss/components/data-table/expandable/index" as table-expandable;
// currently not needed @import ~@carbon/styles/scss/components/data-table/skeleton;
@use "~@carbon/styles/scss/components/data-table/sort/index" as table-sort;
@include data-table.data-table;

// own vars
$eccgui-size-tablecell-height-regular: mini-units(4) !default;
$eccgui-size-tablecell-padding-regular: ($eccgui-size-tablecell-height-regular - rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-height-compact: mini-units(3) !default;
$eccgui-size-tablecell-padding-compact: ($eccgui-size-tablecell-height-compact - rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-height-tall: mini-units(6) !default;
$eccgui-size-tablecell-padding-tall: ($eccgui-size-tablecell-height-tall - rem($eccgui-size-typo-text)) * 0.5 !default;
$eccgui-size-tablecell-font-weight: $eccgui-font-weight-regular !default;
$eccgui-size-tableheader-font-weight: $eccgui-font-weight-bold !default;
$eccgui-color-tableheader-background: lighten($menu-item-color-hover, 15%) !default; // rgba($ui-03, alpha($ui-03) * $eccgui-opacity-muted);
$eccgui-color-tablerow-background-even: $card-background-color !default;
$eccgui-color-tablerow-background-odd: lighten($menu-item-color-hover, 24%) !default;
$eccgui-color-tablerow-hover: $menu-item-color-hover !default;
$eccgui-color-tablerow-selected: rgba($eccgui-color-accent, 0.1) !default;
$eccgui-color-tablerow-selected-hover: mix($eccgui-color-tablerow-selected, $eccgui-color-tablerow-hover, 50%) !default;
$eccgui-color-tablerow-border: $pt-divider-black !default;

// changes
.#{$eccgui}-simpletable__container {
    min-width: unset;
}

.#{$prefix}--data-table-header {
    background-color: $eccgui-color-tablerow-background-even;
}

.#{$prefix}--data-table {
    min-width: 100%;
    --#{$eccgui}-color-cell: #{$eccgui-color-tablerow-background-even};
    --#{$eccgui}-color-border: #{$eccgui-color-tablerow-border};
    --#{$eccgui}-divider-row: none;
}

.#{$eccgui}-simpletable--rowdivider {
    --#{$eccgui}-divider-row: solid;
}

.#{$prefix}--data-table thead {
    background-color: transparent;
    font-weight: $eccgui-size-tablecell-font-weight;
}

.#{$prefix}--data-table th {
    background-color: $eccgui-color-tableheader-background;
    font-weight: $eccgui-size-tableheader-font-weight;
}
.#{$prefix}--data-table th.#{$prefix}--table-column-checkbox {
    background: $eccgui-color-tableheader-background;
}

.#{$prefix}--data-table thead tr,
.#{$prefix}--data-table tbody tr,
.#{$prefix}--data-table tbody tr th {
    height: $eccgui-size-tablecell-height-regular;
}

.#{$prefix}--data-table .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-regular 0;
}

.#{$prefix}--data-table td,
.#{$prefix}--data-table tbody th {
    padding-top: $eccgui-size-tablecell-padding-regular * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-regular * 0.95;

    vertical-align: top;

    & + td:first-of-type {
        padding-left: $spacing-05;
    }
}

.#{$prefix}--data-table .#{$prefix}--table-column-menu,
.#{$prefix}--data-table .#{$prefix}--table-column-menu:last-of-type {
    width: auto;
    min-width: 0;
}

.#{$prefix}--data-table {
    thead th, tbody td, tbody th {
        padding-left: $eccgui-size-block-whitespace * 0.5;
        padding-right: $eccgui-size-block-whitespace * 0.5;
        overflow: hidden;

        &.#{$prefix}--table-expand {
            height: $button-height;
            width: $button-height;
            padding-top: $eccgui-size-tablecell-padding-regular * 1.05;
            padding-left: 0;
        }
    }
}

.#{$prefix}--table-expand__button {
    height: $button-height;
    width: $button-height;
}

.#{$prefix}--data-table td,
.#{$prefix}--data-table tbody th {
    border-top: 1px var(--#{$eccgui}-divider-row) var(--#{$eccgui}-color-cell) !important;
    border-bottom: 1px var(--#{$eccgui}-divider-row) var(--#{$eccgui}-color-border) !important;
    background-color: var(--#{$eccgui}-color-cell) !important;
}

.#{$prefix}--data-table tbody {
    background-color: transparent;

    tr {
        &:hover {
            background-color: transparent;

            th, td {
                --#{$eccgui}-color-cell: #{$eccgui-color-tablerow-hover};
            }
        }

        &.#{$prefix}--data-table--selected {
            th {
                --#{$eccgui}-color-cell: #{mix($eccgui-color-tablerow-selected, $eccgui-color-tableheader-background, 50%)};
            }
            td {
                --#{$eccgui}-color-cell: #{$eccgui-color-tablerow-selected};
            }

            &:hover {
                th {
                    --#{$eccgui}-color-cell: #{mix($eccgui-color-tablerow-selected-hover, $eccgui-color-tableheader-background, 50%)};
                }
                td {
                    --#{$eccgui}-color-cell: #{$eccgui-color-tablerow-selected-hover};
                }
            }
        }
    }
}

// Compact

.#{$prefix}--data-table--xs thead tr,
.#{$prefix}--data-table--xs tbody tr,
.#{$prefix}--data-table--xs tbody tr th {
    height: $eccgui-size-tablecell-height-compact;
}

.#{$prefix}--data-table--xs .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-compact 0;
}

.#{$prefix}--data-table--xs td,
.#{$prefix}--data-table--xs tbody tr th {
    padding-top: $eccgui-size-tablecell-padding-compact * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-compact * 0.95;
}

.#{$prefix}--data-table--xs tbody td.#{$prefix}--table-expand {
    padding-top: $eccgui-size-tablecell-padding-compact * 1.05;
}

// Tall

.#{$prefix}--data-table--md thead tr,
.#{$prefix}--data-table--md tbody tr,
.#{$prefix}--data-table--md tbody tr th {
    height: $eccgui-size-tablecell-height-compact;
}

.#{$prefix}--data-table--md .#{$prefix}--table-header-label {
    padding: $eccgui-size-tablecell-padding-tall 0;
}

.#{$prefix}--data-table--md td,
.#{$prefix}--data-table--md tbody tr th {
    padding-top: $eccgui-size-tablecell-padding-tall * 1.05;
    padding-bottom: $eccgui-size-tablecell-padding-tall * 0.95;
}

.#{$prefix}--data-table--md tbody td.#{$prefix}--table-expand {
    padding-top: $eccgui-size-tablecell-padding-tall * 1.05;
}

// Expanded row

tr.#{$prefix}--parent-row:not(.#{$prefix}--expandable-row) + tr[data-child-row] {
    display: none;
}

tr.#{$prefix}--parent-row.#{$prefix}--expandable-row + tr[data-child-row] {
    display: table-row;

    td {
        padding-left: $eccgui-size-block-whitespace * 0.5;
    }

    & > td {
        padding: 0;
    }
}

// Sticky header

.#{$prefix}--data-table_inner-container {
    background-color: $eccgui-color-tableheader-background;
}

.#{$prefix}--data-table--sticky-header {
    thead tr th {
        // border-bottom-color: $active-ui;
    }

    tr {
        min-height: $eccgui-size-tablecell-height-regular;
    }
}
