// own vars
$eccgui-size-typo-tooltip: $eccgui-size-typo-caption !default;
$eccgui-size-typo-tooltip-lineheight: $eccgui-size-typo-caption-lineheight !default;
$eccgui-size-tooltip-width: 20em !default;
// library vars
$tooltip2-background-color: $eccgui-color-applicationheader-text; // !default;
$tooltip2-text-color: $eccgui-color-applicationheader-background; // !default;
// $dark-tooltip-background-color: $light-gray3 !default;
// $dark-tooltip-text-color: $dark-gray5 !default;
$tooltip2-padding-vertical: $eccgui-size-block-whitespace * 0.25; // !default;
$tooltip2-padding-horizontal: $eccgui-size-block-whitespace * 0.5; // !default;

@import "~@blueprintjs/popover2/src/tooltip2";

.#{$ns}-tooltip2 {
    font-size: $eccgui-size-typo-tooltip;
    line-height: $eccgui-size-typo-tooltip-lineheight;
    white-space: normal;
    word-wrap: break-word;
}

.#{$eccgui}-tooltip--small {
    max-width: $eccgui-size-tooltip-width * 0.5;
}
.#{$eccgui}-tooltip--medium {
    max-width: $eccgui-size-tooltip-width;
}
.#{$eccgui}-tooltip--large {
    max-width: $eccgui-size-tooltip-width * 2;
}

.#{$eccgui}-tooltip__wrapper:not(.#{$ns}-tooltip2-indicator) {
    cursor: inherit;
}

.#{$eccgui}-tooltip__content {
    a {
        color: inherit;
        text-decoration: none;
    }
}
