// Add stuff to test fast and dirty.
// This file should not contain any styles.

/*
    WORKAROUND: thinner scrollbars
*/

* {
    scrollbar-color: #bbb transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
        background-color: #fefefe;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 0.125rem;
    }
}
