// own vars
$eccgui-color-accordion-background-elevated: rgba($eccgui-color-accent, 0.1) !default;
$eccgui-color-accordion-toggler-hover: $menu-item-color-hover !default;
$eccgui-color-accordion-toggler-elevated-hover: mix($eccgui-color-accordion-background-elevated, $eccgui-color-accordion-toggler-hover, 50%) !default;

// lib import
@import "~carbon-components/scss/components/accordion/accordion";

// changes

.#{$prefix}--accordion__heading {
    min-height: mini-units(5);
    align-items: center;
    color: inherit;

    .#{$prefix}--accordion__arrow {
        margin: 0 $eccgui-size-block-whitespace * 0.5 0 0;

        .#{$prefix}--accordion--start & {
            margin: 0 0 0 $eccgui-size-block-whitespace * 0.5;
        }
    }
}

.#{$prefix}--accordion__title {
    min-width: 0; // flex layout fix
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0 0 0 $eccgui-size-block-whitespace;

    .#{$prefix}--accordion--start & {
        margin: 0 0 0 $eccgui-size-block-whitespace * 0.5;
    }
}

.#{$prefix}--accordion__content {
    padding: $eccgui-size-block-whitespace * 0.5;
    margin: 0 calc(1rem + #{$eccgui-size-block-whitespace * 0.5}) 0 $eccgui-size-block-whitespace * 0.5;
    display: block;
    opacity: 0;
    position: fixed;
    left: -5000em;

    .#{$prefix}--accordion__item--active & {
        padding: $eccgui-size-block-whitespace * 0.5 $eccgui-size-block-whitespace * 0.5 $eccgui-size-block-whitespace $eccgui-size-block-whitespace * 0.5;
        opacity: 1;
        position: static;
        left: auto;
    }

    .#{$prefix}--accordion--start & {
        margin: 0 $eccgui-size-block-whitespace * 0.5 0 calc(1rem + #{$eccgui-size-block-whitespace * 0.5});
    }

    .#{$eccgui}-accordion__item--fullwidth & {
        margin: 0;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }
}

.#{$prefix}--accordion__heading {
    &:hover::before,
    &:focus::before {
        background-color: $eccgui-color-accordion-toggler-hover;
    }
}

.#{$eccgui}-accordion__item--elevated {
    background-color: $eccgui-color-accordion-background-elevated;

    .#{$prefix}--accordion__heading {
        &:hover::before,
        &:focus::before {
            background-color: $eccgui-color-accordion-toggler-elevated-hover;
        }
    }
}

.#{$eccgui}-accordion__item--noborder {
    border-top: none;

    &:last-child {
        border-bottom: none;
    }
}

.#{$eccgui}-accordion__item--condensed {
    .#{$prefix}--accordion__heading {
        min-height: 0;
        line-height: 1em;
        padding: 0;

        .#{$prefix}--accordion__arrow {
            margin: 0;

            .#{$prefix}--accordion--start & {
                margin: 0;
            }
        }

        .#{$prefix}--accordion__title {
            margin: 0 0 0 $eccgui-size-block-whitespace * 0.25;

            .#{$prefix}--accordion--start & {
                margin: 0 0 0 $eccgui-size-block-whitespace * 0.25;
            }
        }
    }

    .#{$prefix}--accordion__content {
        padding: $eccgui-size-block-whitespace * 0.25 0;

        .#{$prefix}--accordion__item--active & {
            padding: $eccgui-size-block-whitespace * 0.25 0;
        }
    }
}
