@use "~@carbon/react/scss/components/link/link";
@include link.link;

.#{$prefix}--link {
    &,
    &:hover {
        // default case: use font size from context
        font-size: inherit;
        line-height: inherit;
    }

    &.#{$prefix}--link--sm {
        &,
        &:hover {
            font-size: $eccgui-size-typo-caption;
            line-height: $eccgui-size-typo-caption-lineheight;
        }
    }
    &.#{$prefix}--link--md {
        &,
        &:hover {
            font-size: $eccgui-size-typo-text;
            line-height: $eccgui-size-typo-text-lineheight;
        }
    }
    &.#{$prefix}--link--lg {
        &,
        &:hover {
            font-size: $eccgui-size-typo-subtitle;
            line-height: $eccgui-size-typo-subtitle-lineheight;
        }
    }

    &:focus {
        @extend .focus-by-pointer;
    }

    &:focus-visible {
        @extend .focus-by-keyboard;
    }
}
