@use "~@carbon/react/scss/components/link/link";
@include link.link;

.#{$prefix}--link {
    &,
    &:hover {
        // default case: use font size from context
        font-size: 1em;
        line-height: inherit;
    }

    &.#{$prefix}--link--sm {
        font-size: $eccgui-size-typo-caption;
        line-height: $eccgui-size-typo-caption-lineheight;
    }
    &.#{$prefix}--link--md {
        font-size: $eccgui-size-typo-text;
        line-height: $eccgui-size-typo-text-lineheight;
    }
    &.#{$prefix}--link--lg {
        font-size: $eccgui-size-typo-subtitle;
        line-height: $eccgui-size-typo-subtitle-lineheight;
    }

    &:focus {
        outline: none;
        outline-offset: 0;
    }

    &:focus-visible {
        outline: eccgui-color-rgba($eccgui-color-accent, $eccgui-opacity-muted) solid 2px;
        outline-offset: 1px;
    }
}
