name: "⬆️ Push: Storybook"

on:
  pull_request:
    paths:
      - "src/**"
      - ".storybook/**"
      - "index.ts"
      - yarn.lock
  push:
    branches:
      - "develop"
    paths:
      - "src/**"
      - ".storybook/**"
      - "index.ts"
      - yarn.lock

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Workflow git state
        run: |
          echo github.ref: ${{ github.ref }}
          echo github.event_name: ${{ github.event_name }}
          echo github.actor: ${{ github.actor }}
          git status
          git log --oneline -1
      - uses: actions/setup-node@main
        with:
          node-version: "lts/krypton"
      - name: Install dependencies
        run: yarn install
      - name: Create jest results
        run: yarn test:generate-output
      - name: Publish to Chromatic
        uses: chromaui/action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitZeroOnChanges: true
          onlyChanged: true
          traceChanged: "expanded"
          exitOnceUploaded: true
          externals: "*.scss"
