.#{eccgui}-iframe {
    width: 100%;
}

// provide calc value to remove header + card title + white space from viewport height
// app header minus two spacings minus card header
$eccgui-iframereduction: "#{mini-units(8)} - #{$eccgui-size-card-spacing} - #{$button-height}";

.#{eccgui}-iframe--quarterheight {
    height: calc(25vh - #{$eccgui-iframereduction});
}

.#{eccgui}-iframe--thirdheight {
    height: calc(33vh - #{$eccgui-iframereduction});
}

.#{eccgui}-iframe--halfheight {
    height: calc(50vh - #{$eccgui-iframereduction});
}

.#{eccgui}-iframe--fullheight {
    height: calc(100vh - #{$eccgui-iframereduction});
}

.#{eccgui}-iframe--useavailablespace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.#{eccgui}-iframemodal {
    .#{eccgui}-card__content {
        position: relative;
    }
}
