@use "sass:color";

// Sticky target area

.#{$eccgui}-sticky__target {
    position: sticky;
    z-index: 1;

    --eccgui-sticky-target-localoffset: 0;

    .#{$eccgui}-application__content &:not(.#{$eccgui}-sticky__target--localscrollarea) {
        --eccgui-sticky-target-localoffset: $eccgui-size-block-whitespace;
    }

    .#{$eccgui}-application__header
        + .#{$eccgui}-application__content
        &:not(.#{$eccgui}-sticky__target--localscrollarea) {
        --eccgui-sticky-target-localoffset: calc(#{mini-units(8)} + #{$eccgui-size-block-whitespace});
    }
}

.#{$eccgui}-sticky__target--top {
    top: var(--eccgui-sticky-target-localoffset);
}

.#{$eccgui}-sticky__target--bottom {
    bottom: 0;
}

.#{$eccgui}-sticky__target--bg-card {
    background-color: $card-background-color;

    .#{$eccgui}-card.#{$eccgui}-intent--primary & {
        background-color: color.mix($eccgui-color-primary, $card-background-color, 5%);
    }
    .#{$eccgui}-card.#{$eccgui}-intent--accent & {
        background-color: color.mix($eccgui-color-accent, $card-background-color, 10%);
    }
    .#{$eccgui}-card.#{$eccgui}-intent--success & {
        background-color: $eccgui-color-success-background;
    }
    .#{$eccgui}-card.#{$eccgui}-intent--info & {
        background-color: $eccgui-color-info-background;
    }
    .#{$eccgui}-card.#{$eccgui}-intent--warning & {
        background-color: $eccgui-color-warning-background;
    }
    .#{$eccgui}-card.#{$eccgui}-intent--danger & {
        background-color: $eccgui-color-danger-background;
    }

    .#{$eccgui}-card.#{$ns}-interactive:hover & {
        background-color: $button-background-color-hover;
    }

    .#{$eccgui}-card.#{$ns}-selected & {
        background-color: $card-selected-background-color;
    }

    .#{$eccgui}-card--elevated & {
        background-color: $button-background-color-active;
    }
}

.#{$eccgui}-sticky__target--bg-application {
    background-color: $eccgui-color-application-background;
}
